<section class="management-team section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-wrapper">
                    <h2 class="section-title"> Management Team </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{> tabs no-border="true" }}
            </div>

            <div class="col-lg-7 offset-lg-1 " id="aa">
                <div id="accoridion" class="tab-content media-wrapper" role="tablist">
                    <div id="nav-mang1" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                        <a data-toggle="collapse" href="#collapse-a" data-parent="#accoridion" aria-expanded="true"
                            aria-controls="collapse-a">
                            Collapsible Group Item A
                        </a>
                        <div id="collapse-a" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                            <div class="media-center">
                                <div class="single-img">
                                    {{> media img="assets/img/images/who-we-are/Saleh-Abdulla-Al-Abdooli.jpg" image="true" }}
                                </div>
                                <div class="media-content"> {{> media title="Saleh Abdulla Al Abdooli" link="true" linkTxt="learn more"
                                    brief="Engineer Saleh Abdulla Al Abdooli was appointed as Chief Executive Officer of Etisalat Group in March 2016. Prior to this role, Mr. Al Abdooli was the CEO of Etisalat UAE since 2012. " content="true" briefState="true" }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="nav-mang2" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">

                        <a class="collapsed" data-toggle="collapse" href="#collapse-b" data-parent="#accoridion"
                            aria-expanded="false" aria-controls="collapse-b">
                            Collapsible Group Item B
                        </a>
                        <div id="collapse-b" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                            <div class="media-center">
                                <div class="single-img">
                                    {{> media img="assets/img/images/who-we-are/Saleh-Abdulla-Al-Abdooli.jpg" image="true" }}
                                </div>
                                <div class="media-content"> {{> media title="Saleh Abdulla Al Abdooli" link="true" linkTxt="learn more"
                                    brief="Engineer Saleh Abdulla Al Abdooli was appointed as Chief Executive Officer of Etisalat Group in March 2016." content="true" briefState="true" }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="nav-mang3" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-c" data-parent="#accoridion"
                            aria-expanded="false" aria-controls="collapse-c">
                            Collapsible Group Item C
                        </a>

                        <div id="collapse-c" class="collapse" role="tabpanel" aria-labelledby="heading-C">
                            <div class="media-center">
                                <div class="single-img">
                                    {{> media img="assets/img/images/who-we-are/Saleh-Abdulla-Al-Abdooli.jpg" image="true" }}
                                </div>
                                <div class="media-content"> 
                                    {{> media title="Saleh Abdulla Al Abdooli" brief="Make etisalat your employer of choice Make etisalat your employer of choice Make etisalat your employer of choice Make etisalat your employer of choice" link="true" linkTxt="learn more" content="true" briefState="true" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>