<!-- Start initiatives-projects Html -->
<section class="initiatives-projects section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!--section header start-->
                <div class="title-wrapper">
                    <h2 class="section-title"> Initiatives and projects of impact </h2>
                </div>
                <!--section header end-->
            </div>
        </div> <!-- / .row -->
        <!-- initiatives-projects boxes start-->
        <div class="projects-boxes media-wrapper swiper-container m-0">
            <div class="projects-List swiper-wrapper">
                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/home/Maroc-Telecom.jpg" image="true" }}
                        </div>
                        <div class="media-content">
                            {{> media title="Maroc Telecom’s integration of ICT in teaching and learning"
                            brief="Working alongside with the government implemented ICT initiatives across schools in
                            Morocco." content="true" briefState="true" }}
                        </div>

                    </div>
                </div>
                <!-- media swiper-slide End-->
                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/home/Deployment-of-the-third.jpg" image="true" }}
                        </div>
                        <div class="media-content"> {{> media title="Deployment of the third phase of ‘Genie’"
                            brief="Make etisalat your employer of choice" content="true" briefState="true" }} </div>
                    </div>
                </div>
                <!-- media swiper-slide End-->
                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/home/Tour-and-Cure.jpg" image="true" }}
                        </div>
                        <div class="media-content"> {{> media title="‘Tour and Cure’, global medical campaign with WHO"
                            brief="Log in to our career portal to discover career possibilities" briefState="true"
                            content="true" }}
                        </div>
                    </div>
                </div>
                <!-- media swiper-slide End-->
                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/home/Maroc-Telecom.jpg" image="true" }}
                        </div>
                        <div class="media-content">
                            {{> media title="Maroc Telecom’s integration of ICT in teaching and learning"
                                brief="Working alongside with the government implemented ICT initiatives across schools in
                                Morocco." content="true" briefState="true" }}
                        </div>

                    </div>
                </div>
                <!-- media swiper-slide End-->
                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/home/Deployment-of-the-third.jpg" image="true" }}
                        </div>
                        <div class="media-content"> {{> media title="Deployment of the third phase of ‘Genie’"
                                brief="Make etisalat your employer of choice" content="true" briefState="true" }}
                        </div>
                    </div>
                </div>
                <!-- media swiper-slide End-->
                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/home/Tour-and-Cure.jpg" image="true" }}
                        </div>
                        <div class="media-content"> {{> media title="‘Tour and Cure’, global medical campaign with WHO"
                                brief="Log in to our career portal to discover career possibilities" briefState="true"
                                content="true" }}
                        </div>
                    </div>
                </div>
                <!-- media swiper-slide End-->
            </div>
        </div>
        <!-- initiatives-projects  boxes end-->
    </div><!-- / .container -->
</section>
<!-- End initiatives-projects  Html -->



<script>
    (function (require) {
        require(['modules/07-initiatives-projects.min'], function (projs) {
            projs();
        });
    }(require))
</script>