
{{#if glanceSec }}
<section class="glance-highlights section-padding-80" >
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="title-wrapper">
                    <h2 class="section-title">Highlights at a Glance</h2>
                </div>
            </div>
        </div>
        {{> highlight-box title="Etisalat Group and CK Hutchison complete the combination of their operations in Sri
        Lanka" glance="true" }}
        {{> highlight-box title="Etisalat Group Q3 2018 Financial Statements - English with Earnings Release"
        glance="true" }}
        {{> highlight-box title=" Etisalat Group’s Board of Directors Recommends Lifting Restrictions on Foreign
        Shareholders Voting Rights" glance="true" }}
    </div>
</section>

{{/if}}


{{#if financialSec }}
<section class="financial-highlights section-padding-80 section-green-bg-with-pattern">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="title-wrapper">
                    <h2 class="section-title"> Financial Highlights </h2>
                    <p class="section-sub-title">
                        <svg viewBox="0 0 64 64">
                            <use xlink:href="#icon-calendar-empty-white" />
                        </svg>
                        Etisalat annual report 2018
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                {{> highlight-box top-title="revenue" number="33.2Bn" brief="Revenue growth of 2% attributed to both
                domestic and international operations" financial="true" }}
            </div>
            <div class="col-lg-3 offset-lg-1">
                {{> highlight-box top-title="income" number="10.3Bn" brief="Total comprehesive income for the year
                attributable to equity holders and non-controlling interests" financial="true" }}
            </div>
            <div class="col-lg-3 offset-lg-1">
                {{> highlight-box top-title="profit" number="9.9Bn" brief="Profit from continuing operations "
                financial="true" }}
            </div>
        </div>
    </div>
</section>

{{/if}}