<!-- hl means highlights  -->

{{#if glance }}
<div class="row glance-hl-box">
    <div class="col-lg-9">
        <p class="h4">
            {{ title }}
        </p>
        <a href="#" class="btn-link forward">
            learn more
        </a>
    </div>
    <div class="col-lg-12">
        <hr />
    </div>
</div>
{{/if}}


<!-- hl means highlights  -->

{{#if financial }}

<div class="financial-hl-box">
    <div class="top-wrapper">
        <p class="top-title"> {{ top-title }} </p>
        <h1 class="number"> {{ number }} </h1>
    </div>
    <p class="brief"> {{ brief }} </p>
</div>

{{/if}}