// override css
.btn {
  padding: 1.175rem 2.75rem;
  text-transform: uppercase;
  font-family: 'Lato-Regular', sans-serif;
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 17px;
}


.btn-link {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 20px;
  font-family: 'Lato-Regular', sans-serif;
  position: relative;


  &.back,
  &.forward {
    padding-left: 12px;
    padding-right: 0;

    &:before {
      border: solid;
      border-width: 0 1px 1px 0;
      padding: 3.745px;
      content: "";
      position: absolute;
      line-height: 1;
      top: 50%;
      transition: all .3s ease-in-out;
      -webkit-transform: translateY(-50%) rotate(135deg);
      transform: translateY(-50%) rotate(135deg);
      left: 0;
      right: auto;
    }

    &:hover {
      text-decoration: underline;

      &:before {
        left: -5px;
      }
    }
  }

  &.forward {
    padding-right: 12px;
    padding-left: 0;

    &:before {
      -webkit-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg);
      right: 0;
      left: auto;
    }

    &:hover {
      text-decoration: underline;

      &:before {
        right: -5px;
        left: auto
      }
    }
  }

  .small {
    letter-spacing: 1.6px;
  }

  &:hover {
    text-decoration: underline;
  }

  .btn-link-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: .25rem;
  }
}
