/*** 

====================================================================
	Font Settings
====================================================================

 ***/

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype')
    /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.ttf') format('truetype')
    /* Safari, Android, iOS */
}


@font-face {
  font-family: 'NeoTechAlt-Regular';
  src: url('../fonts/NeoTechAlt-Regular.TTF') format('truetype')
    /* Safari, Android, iOS */
}


@font-face {
  font-family: 'NeoTechAlt-Medium';
  src: url('../fonts/NeoTechAlt-Medium.TTF') format('truetype')
    /* Safari, Android, iOS */
}

@font-face {
  font-family: 'NeoTechAlt-Bold';
  src: url('../fonts/NeoTechAlt-Bold.TTF') format('truetype')
    /* Safari, Android, iOS */
}


/*** 

====================================================================
	Reset
====================================================================

 ***/

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
  // min-height: 10000px;
  color: $premium;
  line-height: 1.8em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato-Regular', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'NeoTechAlt-Medium', sans-serif;
}

a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  position: relative;
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: none;
  font-family: 'NeoTechAlt-Medium', sans-serif;
  color: $almost-black
}

button,
input,
select,
textarea,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

p,
.text {
  color: $steel-grey;
  font-size: 1rem;
  line-height: 1.6;
  font-family: Lato-Regular, sans-serif;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

svg {
  width: 22px;
  vertical-align: middle;
  line-height: 1;
  height: 22px;
}

.bg-gray {
  background: $sand-white-50;
}

.normal-list {
  li {
    font-size: 1.25rem;
    line-height: 30px;
  }
}

/*** 

====================================================================
arrows css 
====================================================================

***/

.arrow {
  border: solid $almost-black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 7px;
  position: absolute;
  top: 50%;

  &.right {
    transform: translate(-65%, -50%) rotate(-45deg);
    -webkit-transform: translate(-65%, -50%) rotate(-45deg);
  }

  &.left {
    transform: translate(-35%, -50%) rotate(135deg);
    -webkit-transform: translate(-35%, -50%) rotate(135deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}


/*** 

====================================================================
card css 
====================================================================

 ***/

.card-wapper {
  background-color: $white;
  box-shadow: 0 2px 10px 0 rgba($black, 0.1);
  padding: ($spacer * 4);
  border: 0
}

/*** 

====================================================================
card css 
====================================================================

 ***/

.top-title {
  color: $gray-close-dropdown;
  letter-spacing: 2.2px;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 2.125rem
}

.brief {
  line-height: 1.5rem;
  margin: 0;
  color: $gray-close-dropdown;
  font-size: 1rem;
  margin-bottom: 1.5rem
}
