//
// Variables
// --------------------------------------------------

//== Colors


// Etisalat Primary Colors
// --------------------------------

// -- Consumer palette
$dark-green:          #616b1e;
$main-green:          #719e19;
$light-green:         #bee70d;
$main-green-hover:    #5F8515;
// -- Business palette
$dark-gray:           #242424;
$dark-sand-brown:     #393c3a;
$moonlight-sand:      #2b2e2c;
$darkest-night:       #151515;
$premium-gray:        #454844;
$dark-green:          #616b1e;
$dark-green-hover:    #4A5217;
$dark-sage:           #505B4D;

// -- Sand
$sand-white:          #f1f1eb;
$white:               #ffffff;
$sand-white-50:       #f7f8f4;
$light-sand-brown:    #e2e1da;

// -- Text Colors
$gray:                #919192;
$almost-black:        #353738;
$almost-black-opacity:        rgba(53, 55, 56, 0.1);
$cold-gray:           #D8D8D8;

// Etisalat Extended Colors
// --------------------------------
// TODO: define or replace "used but not declared" variables
$sand-brown:          #c1b792;
$sandy-green:         #567a6a;
$yellow:               #ffce00;
$orange:               #ff8100;

$grey-dark-grass:     #2a332f;
$black:               #000000;

$red:                  #b3170c;
$gray:                 #909192;
$error-red:            #BE1218;
// sand brown
$sandy-brown:          #8c7767;
$sandy-green2:         #9fa171;
$sandy-purple:         #9986a1;
$sandy-white:          #dbdad0;
$sand-grey:            #8d8e80;
// grey dark grass
$premium:              #353738;

// End official Etisalt color palette
// --------------------------------


// Used but not declared
// --------------------------------
$texts-gray:           #575757;
$custom-gray:          #333333;
$steel-grey:           #848789;
$light-sand-brown:     #e2e1da;
$white-2:              #e5e5e5;
$warm-gray:            #7a7a7a; //footer nav & less button
$warm-background:      #e4e4df; //breadcrumb
$pink:				   #fb193f; //store-locator
$dark-orange:          #ff8000; //store-locator
$dark-orange-hover:    #EF7800; //store-locator

$sandy-blue:           #2e3936; //used for brand-info bootstrap's var
$cement:               #9e9f94; // used for buttons
$bland:                #aeaf89; // used for buttons
$light-gray:           $sand-white; //used in page navi dropdown
$gray-close-dropdown:  #9e9d9d; //used in page navi dropdown
$lighty-gray:          #bcbcbc;
$gray-fill:            #6b6b6b;
$silver-top:           #c0c0c0;
$gold-top:             #ffcc00;
$valid-green:          #E3ECD1;
$ligther-gray:         #B2B2B1;
$dark-accordion-gray:  #575956;
$disabled-gray:        #474948;
$business-table-head:  #3a3c3b;
$business-table-ticked:#2c2e2d;
$hr-border-color:      #b2b2b2;
// Used but not declared
// --------------------------------

//## Gray and brand colors for use across Bootstrap.
$gray-base:           $gray;
$gray-darker:         lighten($gray-base, 13.5%);
$gray-dark:           $dark-gray;                 //bootstrap's var
$gray-light:          lighten($gray-base, 46.7%); // bootstrap's var
$gray-lighter:        lighten($gray-base, 93.5%); // bootstrap's var

// TODO: this should be refer to the consumer-colors.less or business-colors.less
//== Bootstrap defaults
$brand-primary: $main-green;
$brand-success: $sandy-green;
$brand-info: $sandy-blue;
$brand-warning: $orange;
$brand-danger: $red;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #fff;
//** Global text color on `<body>`.
$text-color: $black; //$gray-base; // #000

//** Global textual link color.
$link-color: $main-green; //$brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 5%); // #618816;
//** Link hover decoration.
$link-hover-decoration: none;


// override bootstrap styles
$primary:       $main-green !default;
$secondary:     $custom-gray !default;
$success:       $main-green  !default;
