/* https//github.com/fians/Waves/blob/master/LICENSE
:*/
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect .form input[type="button"],
.waves-effect .form input[type="reset"],
.waves-effect .form input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: .2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

.waves-effect .waves-ripple {
  z-index: -1;
}

select:focus {
  outline: 1px solid #c9f3ef;
}

button:focus {
  outline: none;
  background-color: #2ab7a9;
}

label {
  font-size: .8rem;
  color: #9e9e9e;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

::-moz-placeholder {
  color: #d1d1d1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}

::placeholder {
  color: #d1d1d1;
}

.form input:not([type]),
.form input[type=date]:not(.browser-default),
.form input[type=datetime-local]:not(.browser-default),
.form input[type=datetime]:not(.browser-default),
.form input[type=email]:not(.browser-default),
.form input[type=number]:not(.browser-default),
.form input[type=password]:not(.browser-default),
.form input[type=search]:not(.browser-default),
.form input[type=tel]:not(.browser-default),
.form input[type=text]:not(.browser-default),
.form input[type=time]:not(.browser-default),
.form input[type=url]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #B2B2B2;
  border-radius: 0;
  color: $almost-black;
  outline: none;
  height: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  font-size: 1.25rem;
  position: relative;
  z-index: 1;
}

textarea.materialize-textarea {
  border: 1px solid #B2B2B2;
}

.form input:not([type]):disabled,
.form input:not([type])[readonly="readonly"],
.form input[type=date]:not(.browser-default):disabled,
.form input[type=date]:not(.browser-default)[readonly="readonly"],
.form input[type=datetime-local]:not(.browser-default):disabled,
.form input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
.form input[type=datetime]:not(.browser-default):disabled,
.form input[type=datetime]:not(.browser-default)[readonly="readonly"],
.form input[type=email]:not(.browser-default):disabled,
.form input[type=email]:not(.browser-default)[readonly="readonly"],
.form input[type=number]:not(.browser-default):disabled,
.form input[type=number]:not(.browser-default)[readonly="readonly"],
.form input[type=password]:not(.browser-default):disabled,
.form input[type=password]:not(.browser-default)[readonly="readonly"],
.form input[type=search]:not(.browser-default):disabled,
.form input[type=search]:not(.browser-default)[readonly="readonly"],
.form input[type=tel]:not(.browser-default):disabled,
.form input[type=tel]:not(.browser-default)[readonly="readonly"],
.form input[type=text]:not(.browser-default):disabled,
.form input[type=text]:not(.browser-default)[readonly="readonly"],
.form input[type=time]:not(.browser-default):disabled,
.form input[type=time]:not(.browser-default)[readonly="readonly"],
.form input[type=url]:not(.browser-default):disabled,
.form input[type=url]:not(.browser-default)[readonly="readonly"] {
  border-bottom: 1px dashed #B2B2B2 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #848789;
}

.input-field {
  input[type=number]:not(.browser-default):disabled {
    font-weight: 600;
    border-bottom: 0 !important;
    width: auto;
    display: inline-block;
  }
}

textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  border: 1px solid #B2B2B2 !important;
  box-shadow: none !important;
}

.form input:not([type]):disabled~label,
.form input:not([type])[readonly="readonly"]~label,
.form input[type=date]:not(.browser-default):disabled~label,
.form input[type=date]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=datetime-local]:not(.browser-default):disabled~label,
.form input[type=datetime-local]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=datetime]:not(.browser-default):disabled~label,
.form input[type=datetime]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=email]:not(.browser-default):disabled~label,
.form input[type=email]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=number]:not(.browser-default):disabled~label,
.form input[type=number]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=password]:not(.browser-default):disabled~label,
.form input[type=password]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=search]:not(.browser-default):disabled~label,
.form input[type=search]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=tel]:not(.browser-default):disabled~label,
.form input[type=tel]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=text]:not(.browser-default):disabled~label,
.form input[type=text]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=time]:not(.browser-default):disabled~label,
.form input[type=time]:not(.browser-default)[readonly="readonly"]~label,
.form input[type=url]:not(.browser-default):disabled~label,
.form input[type=url]:not(.browser-default)[readonly="readonly"]~label {
  color: #848789;
}

textarea.materialize-textarea:disabled~label,
textarea.materialize-textarea[readonly="readonly"]~label {
  color: #848789;
}

.form input:not([type]):focus:not([readonly]),
.form input[type=date]:not(.browser-default):focus:not([readonly]),
.form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.form input[type=email]:not(.browser-default):focus:not([readonly]),
.form input[type=number]:not(.browser-default):focus:not([readonly]),
.form input[type=password]:not(.browser-default):focus:not([readonly]),
.form input[type=search]:not(.browser-default):focus:not([readonly]),
.form input[type=tel]:not(.browser-default):focus:not([readonly]),
.form input[type=text]:not(.browser-default):focus:not([readonly]),
.form input[type=time]:not(.browser-default):focus:not([readonly]),
.form input[type=url]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid $main-green;
  -webkit-box-shadow: 0px 1px 0px 0px $main-green;
  -moz-box-shadow: 0px 1px 0px 0px $main-green;
  box-shadow: 0px 1px 0px 0px $main-green;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 0;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $main-green;
  -webkit-box-shadow: 0px 1px 0px 0px $main-green;
  -moz-box-shadow: 0px 1px 0px 0px $main-green;
  box-shadow: 0px 1px 0px 0px $main-green;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 0;
}

.form input:not([type]).ng-not-empty,
.form input[type=date]:not(.browser-default).ng-not-empty,
.form input[type=datetime-local]:not(.browser-default).ng-not-empty,
.form input[type=datetime]:not(.browser-default).ng-not-empty,
.form input[type=email]:not(.browser-default).ng-not-empty,
.form input[type=number]:not(.browser-default).ng-not-empty,
.form input[type=password]:not(.browser-default).ng-not-empty,
.form input[type=search]:not(.browser-default).ng-not-empty,
.form input[type=tel]:not(.browser-default).ng-not-empty,
.form input[type=text]:not(.browser-default).ng-not-empty,
.form input[type=time]:not(.browser-default).ng-not-empty,
.form input[type=url]:not(.browser-default).ng-not-empty,
textarea.materialize-textarea.ng-not-empty {
  z-index: 0;
}

*[lang="ar"] *[dir="rtl"] .form input:not([type]):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=date]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=datetime]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=email]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=number]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=password]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=search]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=tel]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=text]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=time]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] .form input[type=url]:not(.browser-default):focus:not([readonly]),
*[lang="ar"] *[dir="rtl"] textarea.materialize-textarea:focus:not([readonly]) {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.form input:not([type]):focus:not([readonly])~label,
.form input[type=date]:not(.browser-default):focus:not([readonly])~label,
.form input[type=datetime-local]:not(.browser-default):focus:not([readonly])~label,
.form input[type=datetime]:not(.browser-default):focus:not([readonly])~label,
.form input[type=email]:not(.browser-default):focus:not([readonly])~label,
.form input[type=number]:not(.browser-default):focus:not([readonly])~label,
.form input[type=password]:not(.browser-default):focus:not([readonly])~label,
.form input[type=search]:not(.browser-default):focus:not([readonly])~label,
.form input[type=tel]:not(.browser-default):focus:not([readonly])~label,
.form input[type=text]:not(.browser-default):focus:not([readonly])~label,
.form input[type=time]:not(.browser-default):focus:not([readonly])~label,
.form input[type=url]:not(.browser-default):focus:not([readonly])~label {
  color: $main-green;
  font-size: 1rem;
  -webkit-transform: translateY(-10px) scale(0.8);
  transform: translateY(-10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

textarea.materialize-textarea:focus:not([readonly])~label {
  color: $main-green;
  font-size: 1rem;
  -webkit-transform: translateY(10px) scale(0.8);
  transform: translateY(10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

*[lang="ar"] *[dir="rtl"] .form input:not([type]):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=date]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime-local]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=email]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=number]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=password]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=search]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=tel]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=text]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=time]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=url]:not(.browser-default):focus:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] textarea.materialize-textarea:focus:not([readonly])~label {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.form input:not([type]):focus.ng-untouched:not([readonly])~label,
.form input[type=date]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=datetime-local]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=datetime]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=email]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=number]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=password]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=search]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=tel]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=text]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=time]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
.form input[type=url]:not(.browser-default):focus.ng-untouched:not([readonly])~label {
  color: $main-green;

  -webkit-transform: translateY(-10px) scale(0.8);
  transform: translateY(-10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

textarea.materialize-textarea:focus.ng-untouched:not([readonly])~label {
  color: $main-green;

  -webkit-transform: translateY(10px) scale(0.8);
  transform: translateY(10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

*[lang="ar"] *[dir="rtl"] .form input:not([type]):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=date]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime-local]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=email]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=number]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=password]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=search]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=tel]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=text]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=time]:not(.browser-default):focus.ng-untouched:not([readonly])~label,
*[lang="ar"] *[dir="rtl"] .form input[type=url]:not(.browser-default):focus.ng-untouched:not([readonly])~label {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

*[lang="ar"] *[dir="rtl"] textarea.materialize-textarea:focus.ng-untouched:not([readonly])~label {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}



input:not([type]).ng-valid.ng-not-empty~label,
input[type=date]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=datetime-local]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=datetime]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=email]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=number]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=password]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=search]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=tel]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=text]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=time]:not(.browser-default).ng-valid.ng-not-empty~label,
input[type=url]:not(.browser-default).ng-valid.ng-not-empty~label {
  -webkit-transform: translateY(-10px) scale(0.8);
  transform: translateY(-10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

textarea.materialize-textarea.ng-valid.ng-not-empty~label {
  -webkit-transform: translateY(10px) scale(0.8);
  transform: translateY(10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

*[lang="ar"] *[dir="rtl"] .form input:not([type]).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=date]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime-local]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=email]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=number]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=password]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=search]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=tel]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=text]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=time]:not(.browser-default).ng-valid~label,
*[lang="ar"] *[dir="rtl"] .form input[type=url]:not(.browser-default).ng-valid~label {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

*[lang="ar"] *[dir="rtl"] textarea.materialize-textarea.ng-valid~label {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.form input:not([type]):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=date]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=datetime-local]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=datetime]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=email]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=number]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=password]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=search]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=tel]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=text]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=time]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
.form input[type=url]:not(.browser-default):focus.ng-invalid.ng-dirty:not([readonly])~label,
textarea.materialize-textarea:focus.ng-invalid.ng-dirty:not([readonly])~label {
  color: $error-red;
}

.form input:not([type]).ng-invalid.ng-not-empty~label,
.form input[type=date]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=datetime-local]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=datetime]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=email]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=number]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=password]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=search]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=tel]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=text]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=time]:not(.browser-default).ng-invalid.ng-not-empty~label,
.form input[type=url]:not(.browser-default).ng-invalid.ng-not-empty~label {
  -webkit-transform: translateY(-10px) scale(0.8);
  transform: translateY(-10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  font-size: 1rem
}

textarea.materialize-textarea.ng-invalid.ng-not-empty~label {
  -webkit-transform: translateY(10px) scale(0.8);
  transform: translateY(10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  font-size: 1rem
}

*[lang="ar"] *[dir="rtl"] .form input:not([type]).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=date]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime-local]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=datetime]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=email]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=number]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=password]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=search]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=tel]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=text]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=time]:not(.browser-default).ng-invalid.ng-not-empty~label,
*[lang="ar"] *[dir="rtl"] .form input[type=url]:not(.browser-default).ng-invalid.ng-not-empty~label {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

*[lang="ar"] *[dir="rtl"] textarea.materialize-textarea.ng-invalid.ng-not-empty~label {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.form input:not([type]).validate~label,
.form input[type=date]:not(.browser-default).validate~label,
.form input[type=datetime-local]:not(.browser-default).validate~label,
.form input[type=datetime]:not(.browser-default).validate~label,
.form input[type=email]:not(.browser-default).validate~label,
.form input[type=number]:not(.browser-default).validate~label,
.form input[type=password]:not(.browser-default).validate~label,
.form input[type=search]:not(.browser-default).validate~label,
.form input[type=tel]:not(.browser-default).validate~label,
.form input[type=text]:not(.browser-default).validate~label,
.form input[type=time]:not(.browser-default).validate~label,
.form input[type=url]:not(.browser-default).validate~label,
textarea.materialize-textarea.validate~label {
  width: 100%;
}

.form input[type=date].ng-valid:not(.browser-default),
.form input[type=date].ng-valid:not(.browser-default):focus,
.form input[type=datetime-local].ng-valid:not(.browser-default),
.form input[type=datetime-local].ng-valid:not(.browser-default):focus,
.form input[type=datetime].ng-valid:not(.browser-default),
.form input[type=datetime].ng-valid:not(.browser-default):focus,
.form input[type=email].ng-valid:not(.browser-default),
.form input[type=email].ng-valid:not(.browser-default):focus,
.form input[type=number].ng-valid:not(.browser-default),
.form input[type=number].ng-valid:not(.browser-default):focus,
.form input[type=password].ng-valid:not(.browser-default),
.form input[type=password].ng-valid:not(.browser-default):focus,
.form input[type=search].ng-valid:not(.browser-default),
.form input[type=search].ng-valid:not(.browser-default):focus,
.form input[type=tel].ng-valid:not(.browser-default),
.form input[type=tel].ng-valid:not(.browser-default):focus,
.form input[type=text].ng-valid:not(.browser-default),
.form input[type=text].ng-valid:not(.browser-default):focus,
.form input[type=time].ng-valid:not(.browser-default),
.form input[type=time].ng-valid:not(.browser-default):focus,
.form input[type=url].ng-valid:not(.browser-default),
.form input[type=url].ng-valid:not(.browser-default):focus,
.select-wrapper.valid>input.select-dropdown,
input.ng-valid:not([type]),
input.ng-valid:not([type]):focus {
  border-bottom: 1px solid $main-green;
  -webkit-box-shadow: 0px 1px 0px 0px $main-green;
  -moz-box-shadow: 0px 1px 0px 0px $main-green;
  box-shadow: 0px 1px 0px 0px $main-green;
}

textarea.materialize-textarea.ng-valid:focus,
textarea.materialize-textarea.valid {
  border-bottom: 1px solid $main-green;
  -webkit-box-shadow: 0px 1px 0px 0px $main-green;
  -moz-box-shadow: 0px 1px 0px 0px $main-green;
  box-shadow: 0px 1px 0px 0px $main-green;

}

.form input[type=date].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=date].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=datetime-local].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=datetime-local].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=datetime].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=datetime].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=email].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=email].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=number].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=number].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=password].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=password].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=search].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=search].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=tel].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=tel].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=text].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=text].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=time].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=time].ng-invalid.ng-dirty:not(.browser-default):focus,
.form input[type=url].ng-invalid.ng-dirty:not(.browser-default),
.form input[type=url].ng-invalid.ng-dirty:not(.browser-default):focus,
.select-wrapper.ng-invalid.ng-dirty>input.select-dropdown,
.select-wrapper.ng-invalid.ng-dirty>input.select-dropdown:focus,
input.ng-invalid.ng-dirty:not([type]),
input.ng-invalid.ng-dirty:not([type]):focus {
  border-bottom: 2px solid $error-red;
}

textarea.materialize-textarea.ng-invalid.ng-dirty,
textarea.materialize-textarea.ng-invalid.ng-dirty:focus {
  border: 2px solid $error-red;
}

.ng-submitted .select-wrapper.ng-invalid>input.select-dropdown,
.ng-submitted .select-wrapper.ng-invalid>input.select-dropdown:focus,
.ng-submitted input.ng-invalid:not([type]),
.ng-submitted input.ng-invalid:not([type]):focus,
.ng-submitted.form input[type=date].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=date].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=datetime-local].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=datetime-local].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=datetime].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=datetime].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=email].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=email].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=number].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=number].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=password].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=password].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=search].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=search].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=tel].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=tel].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=text].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=text].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=time].ng-invalid:not(.browser-default),
.ng-submitted.form input[type=time].ng-invalid:not(.browser-default):focus,
.ng-submitted.form input[type=url].ng-invalid.ng:not(.browser-default),
.ng-submitted.form input[type=url].ng-invalid:not(.browser-default):focus {
  border-bottom: 1px solid $error-red;
  -webkit-box-shadow: 0 1px 0 0 $error-red;
  box-shadow: 0 1px 0 0 $error-red;
  color: $error-red;
}

.ng-submitted textarea.materialize-textarea.ng-invalid,
.ng-submitted textarea.materialize-textarea.ng-invalid:focus {
  border: 1px solid $error-red;
  -webkit-box-shadow: 0 0 0 1px $error-red;
  box-shadow: 0 0 0 1px $error-red;
  color: $error-red;
}

.form input:not([type]).ng-invalid.ng-dirty~.helper-text[data-error],
.form input:not([type]).ng-valid~.helper-text[data-success],
.form input:not([type]).valid~.helper-text[data-success],
.form input:not([type]):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=date]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=date]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=date]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=date]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=datetime-local]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=datetime-local]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=datetime-local]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=datetime-local]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=datetime]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=datetime]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=datetime]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=datetime]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=email]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=email]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=email]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=email]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=number]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=number]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=number]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=number]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=password]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=password]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=password]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=password]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=search]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=search]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=search]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=search]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=tel]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=tel]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=tel]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=tel]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=text]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=text]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=text]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=text]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=time]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=time]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=time]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=time]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=url]:not(.browser-default).ng-invalid.ng-dirty~.helper-text[data-error],
.form input[type=url]:not(.browser-default).ng-valid~.helper-text[data-success],
.form input[type=url]:not(.browser-default).valid~.helper-text[data-success],
.form input[type=url]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text[data-error],
.select-wrapper.ng-invalid.ng-dirty~.helper-text[data-error],
.select-wrapper.valid .helper-text[data-success] {
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

textarea.materialize-textarea.ng-invalid.ng-dirty~.helper-text[data-error],
textarea.materialize-textarea.ng-valid~.helper-text[data-success],
textarea.materialize-textarea.valid~.helper-text[data-success],
textarea.materialize-textarea:focus.ng-invalid.ng-dirty~.helper-text[data-error] {
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.form input:not([type]).ng-valid~.helper-text:after,
.form input:not([type]).valid~.helper-text:after,
.form input[type=date]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=date]:not(.browser-default).valid~.helper-text:after,
.form input[type=datetime-local]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=datetime-local]:not(.browser-default).valid~.helper-text:after,
.form input[type=datetime]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=datetime]:not(.browser-default).valid~.helper-text:after,
.form input[type=email]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=email]:not(.browser-default).valid~.helper-text:after,
.form input[type=number]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=number]:not(.browser-default).valid~.helper-text:after,
.form input[type=password]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=password]:not(.browser-default).valid~.helper-text:after,
.form input[type=search]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=search]:not(.browser-default).valid~.helper-text:after,
.form input[type=tel]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=tel]:not(.browser-default).valid~.helper-text:after,
.form input[type=text]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=text]:not(.browser-default).valid~.helper-text:after,
.form input[type=time]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=time]:not(.browser-default).valid~.helper-text:after,
.form input[type=url]:not(.browser-default).ng-valid~.helper-text:after,
.form input[type=url]:not(.browser-default).valid~.helper-text:after,
.select-wrapper.valid~.helper-text:after,
textarea.materialize-textarea.ng-valid~.helper-text:after,
textarea.materialize-textarea.valid~.helper-text:after {
  content: attr(data-success);
  color: $main-green;

}

.form input:not([type]).ng-invalid.ng-dirty~.helper-text:after,
.form input:not([type]):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=date]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=date]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=datetime-local]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=datetime-local]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=datetime]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=datetime]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=email]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=email]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=number]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=number]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=password]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=password]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=search]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=search]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=tel]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=tel]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=text]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=text]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=time]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=time]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.form input[type=url]:not(.browser-default).ng-invalid.ng-dirty~.helper-text:after,
.form input[type=url]:not(.browser-default):focus.ng-invalid.ng-dirty~.helper-text:after,
.select-wrapper.ng-invalid.ng-dirty~.helper-text:after,
textarea.materialize-textarea.ng-invalid.ng-dirty~.helper-text:after,
textarea.materialize-textarea:focus.ng-invalid.ng-dirty~.helper-text:after {
  color: $error-red;
}

.form input:not([type])~label:after,
.form input[type=date]:not(.browser-default)~label:after,
.form input[type=datetime-local]:not(.browser-default)~label:after,
.form input[type=datetime]:not(.browser-default)~label:after,
.form input[type=email]:not(.browser-default)~label:after,
.form input[type=number]:not(.browser-default)~label:after,
.form input[type=password]:not(.browser-default)~label:after,
.form input[type=search]:not(.browser-default)~label:after,
.form input[type=tel]:not(.browser-default)~label:after,
.form input[type=text]:not(.browser-default)~label:after,
.form input[type=time]:not(.browser-default)~label:after,
.form input[type=url]:not(.browser-default)~label:after,
.select-wrapper~label:after {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out;
}

textarea.materialize-textarea~label:after {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  -webkit-transition: .2s opacity ease-out, .2s color ease-out;
  transition: .2s opacity ease-out, .2s color ease-out;
}

.input-field {
  position: relative;
  margin-top: .5rem;
  margin-bottom: .5rem;

  // .checkbox{
  //   label{
  //     font-size: 1.25rem;
  //     color: #353738;
  //   }
  //   input[type=checkbox] {
  //     visibility: hidden;
  //     +.check-label {
  //       &:before {
  //         top: -2px !important;
  //       }
  //     }
  //   }
  // }



  .checkbox {

    input[type="checkbox"],
    input[type="radio"] {
      visibility: hidden;
      position: absolute;
      left: 0;
      right: 0;
    }

    label {
      padding-left: 2.5rem !important;
      font-size: 1rem;
      color: $almost-black;

      &:before {
        border-radius: 50%;
        content: " ";
        cursor: pointer;
        position: absolute;
        left: 0;
        z-index: 1;
        height: 30px;
        width: 30px;
        border: 1px solid #B5B5B5;
        box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1);
      }

    }

    input[type="checkbox"]:checked+.check-label,
    input[type="radio"]:checked+.check-label {
      &:after {
        content: "";
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    input[type="checkbox"]:checked+.check-label:after {
      background-color: $main-green;
      border-color: $main-green;
      box-shadow: 0 2px 5px 0 rgba(143, 163, 105, 0.5);
    }

    input[type="radio"]:checked+.check-label:after {
      border: 1px solid $main-green;
      box-shadow: inset 0 2px 5px 0 rgba(143, 163, 105, 0.5);
    }

    input[type="checkbox"]:checked+.check-label {
      &:after {
        border: 1px solid #fff;
        border-top: none;
        border-right: none;
        height: 6px;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 12px;
        top: 45%;
      }
    }

    input[type="radio"]:checked+.check-label {
      &:after {
        height: 11.25px;
        width: 11.25px;
        background-color: $main-green;
        box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        position: absolute;
        left: 15px;
        top: 15px;
      }
    }

    input[type="checkbox"]:checked+.check-label:after,
    input[type="radio"]:checked+.check-label:after {
      opacity: 1;
    }
  }





}

.select {
  label {
    position: absolute;
    top: 10px;
    font-size: 1.2rem;
  }

  .ng-not-empty+label {
    position: absolute;
    top: 0px;
    font-size: .8rem;
  }

  .ui-select-container {
    .btn {
      padding: 0;
      text-transform: none;
      letter-spacing: normal;
    }

    .ui-select-match-text {
      font-size: 1.2rem;
      padding-top: 10px;
      font-weight: 400;
    }
  }
}

.input-field.inline {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.input-field.inline .select-dropdown,
.input-field.inline input {
  margin-bottom: 1rem;
}

.input-field.col label {
  left: .75rem;
}

.input-field.col .prefix~.validate~label,
.input-field.col .prefix~label {
  width: calc(100% - 3rem - 1.5rem);
}

.input-field>label {
  color: #9e9e9e;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: 12px;
  line-height: 24px;
  font-size: 1.25rem;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  text-align: initial;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 0;
}

.textarea.input-field>label {
  left: 24px;
}

*[lang="ar"] *[dir="rtl"] .input-field>label {
  width: 94%;
  left: auto;
  right: 12px;
}

.input-field>.input-suffix {
  position: absolute;
  top: 1.25rem;
  right: 12px;
  font-family: Lato;
  font-size: 12px;
  line-height: 18px;
  color: #848789;
}

*[lang="ar"] *[dir="rtl"] .input-field>.input-suffix {
  left: 12px;
  right: auto;
  font-family: 'Neotech-medium', 'GE SS Two', Arial, sans-serif;
}

.input-field>label:not(.label-icon).active {
  -webkit-transform: translateY(-10px) scale(0.8);
  transform: translateY(-10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.input-field>.form input[type=date]:not(.browser-default)~label,
.input-field>.form input[type=time]:not(.browser-default)~label,
input-field>.form input:not(.browser-default)~label .input-field>.form input[type]:-webkit-autofill:not(.browser-default):not([type="search"])~label {
  -webkit-transform: translateY(-10px) scale(0.8);
  transform: translateY(-10px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.input-field .helper-text {
  position: relative;
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.input-field .helper-text.text-danger,
.input-field .helper-text.text-danger p {
  color: $error-red  !important;
  margin: 0
}

.input-field .helper-text::after {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  -webkit-transition: color .2s;
  transition: color .2s;
  top: .5rem;
}

.input-field .prefix.active {
  color: $main-green;

}

.input-field .prefix~.autocomplete-content,
.input-field .prefix~.helper-text,
.input-field .prefix~.validate~label,
.input-field .prefix~input,
.input-field .prefix~label,
.input-field .prefix~textarea {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.input-field .prefix~label {
  margin-left: 3rem;
}

@media only screen and (max-width: 992px) {
  .input-field .prefix~input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .input-field .prefix~input {
    width: 80%;
    width: calc(100% - 3rem);
  }

  input:not([type]),
  input[type=date]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=search]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=text]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=url]:not(.browser-default),
  textarea.materialize-textarea {
    font-size: .9rem;
    height: 2.4rem;
  }

  .input-field {
    margin-bottom: 1.5rem;
  }
}

.input-field .form input[type=search] {
  display: block;
  line-height: inherit;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;

  &.ui-select-search-hidden {
    display: none;
  }
}

.nav-wrapper .input-field .form input[type=search] {
  height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-field .form input[type=search]:focus:not(.browser-default) {
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #444;
}

.input-field .form input[type=search]:focus:not(.browser-default)~.material-icons,
.input-field .form input[type=search]:focus:not(.browser-default)~.mdi-navigation-close,
.input-field .form input[type=search]:focus:not(.browser-default)~label i {
  color: #444;
}

.input-field .form input[type=search]+.label-icon {
  -webkit-transform: none;
  transform: none;
  left: 1rem;
}

.input-field .form input[type=search]~.material-icons,
.input-field .form input[type=search]~.mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}

.input-field.search-field {
  &:after {
    content: " ";
    position: absolute;
    background-image: url('/b2c/eshopApp/assets/img/buy-get/forms/icon_search.svg') !important;
    background-repeat: no-repeat;
    background-position: right center !important;
    background-size: 24px 24px !important;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 12px;
  }
}


textarea.materialize-textarea {
  width: 100%;
  height: 10rem;
  padding: 2rem 1rem 1rem;
  background-color: transparent;
  line-height: normal;
  overflow-y: hidden;
  resize: none;
  min-height: 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hiddendiv {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-top: 1.2rem;
  position: absolute;
  top: 0;
  z-index: -1;
}

.autocomplete-content li .highlight {
  color: #444;
}

.autocomplete-content li img {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
}

.character-counter {
  min-height: 18px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type="radio"]:checked+span,
[type="radio"]:not(:checked)+span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="radio"]+span:after,
[type="radio"]+span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

[type="radio"].with-gap:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:not(:checked)+span:before {
  border-radius: 50%;
}

[type="radio"]:not(:checked)+span:after,
[type="radio"]:not(:checked)+span:before {
  border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked)+span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked+span:before {
  border: 2px solid transparent;
}

[type="radio"].with-gap:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"]:checked+span:after {
  border: 2px solid $main-green;

}

[type="radio"].with-gap:checked+span:after,
[type="radio"]:checked+span:after {
  background-color: $main-green;

}

[type="radio"]:checked+span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

[type="radio"].with-gap:checked+span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

[type="radio"].tabbed:focus+span:before {
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

[type="radio"].with-gap:disabled:checked+span:before {
  border: 2px solid rgba(0, 0, 0, 0.42);
}

[type="radio"].with-gap:disabled:checked+span:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:checked+span:before,
[type="radio"]:disabled:not(:checked)+span:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled+span {
  color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:not(:checked)+span:before {
  border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:checked+span:after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type="checkbox"]+span:not(.lever) {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  transition: .2s;
}

[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42);
}

[type="checkbox"].tabbed:focus+span:not(.lever):after {
  -webkit-transform: scale(1);
  transform: scale(1);
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"]:checked+span:not(.lever):before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid $main-green;

  border-bottom: 2px solid $main-green;

  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled+span:before {
  border-right: 2px solid rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}

[type="checkbox"]:indeterminate+span:not(.lever):before {
  top: -11px;
  left: -12px;
  width: 10px;
  height: 22px;
  border-top: none;
  border-left: none;
  border-right: 2px solid $main-green;

  border-bottom: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"]:indeterminate:disabled+span:not(.lever):before {
  border-right: 2px solid rgba(0, 0, 0, 0.42);
  background-color: transparent;
}

[type="checkbox"].filled-in+span:not(.lever):after {
  border-radius: 2px;
}

[type="checkbox"].filled-in+span:not(.lever):after,
[type="checkbox"].filled-in+span:not(.lever):before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
  z-index: 1;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0;
  z-index: 0;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $main-green;

  background-color: $main-green;

  z-index: 0;
}

[type="checkbox"].filled-in.tabbed:focus+span:not(.lever):after {
  border-radius: 2px;
  border-color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"].filled-in.tabbed:checked:focus+span:not(.lever):after {
  border-radius: 2px;
  background-color: $main-green;

  border-color: $main-green;

}

[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):before {
  background-color: transparent;
  border: 2px solid transparent;
}

[type="checkbox"].filled-in:disabled:not(:checked)+span:not(.lever):after {
  border-color: transparent;
  background-color: #949494;
}

[type="checkbox"].filled-in:disabled:checked+span:not(.lever):before {
  background-color: transparent;
}

[type="checkbox"].filled-in:disabled:checked+span:not(.lever):after {
  background-color: #949494;
  border-color: #949494;
}

.switch,
.switch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch label {
  cursor: pointer;
}

.switch label .form input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label .form input[type=checkbox]:checked+.lever {
  background-color: #84c7c1;
}

.switch label .form input[type=checkbox]:checked+.lever:after,
.switch label .form input[type=checkbox]:checked+.lever:before {
  left: 18px;
}

.switch label .form input[type=checkbox]:checked+.lever:after {
  background-color: $main-green;

}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch label .lever:after,
.switch label .lever:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left .3s ease, background .3s ease, -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  transition: left .3s ease, background .3s ease, -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease, transform .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease, transform .1s ease, -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
}

.switch label .lever:before {
  background-color: rgba(38, 166, 154, 0.15);
}

.switch label .lever:after {
  background-color: #F1F1F1;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.form input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
.form input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(38, 166, 154, 0.15);
}

.form input[type=checkbox]:not(:disabled)~.lever:active:before,
.form input[type=checkbox]:not(:disabled).tabbed:focus~.lever::before {
  -webkit-transform: scale(2.4);
  transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08);
}

.switch .form input[type=checkbox][disabled]+.lever {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12);
}

.switch label .form input[type=checkbox][disabled]+.lever:after,
.switch label .form input[type=checkbox][disabled]:checked+.lever:after {
  background-color: #949494;
}

select.browser-default {
  display: block;
}

select {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}

.select-label {
  position: absolute;
}

.select-wrapper {
  position: relative;
}

.select-wrapper.ng-invalid.ng-dirty~label,
.select-wrapper.valid~label {
  width: 100%;
  pointer-events: none;
}

.select-wrapper input.select-dropdown {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid $main-green;

}

.select-wrapper .caret {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 0;
  fill: rgba(0, 0, 0, 0.87);
}

.select-wrapper~label {
  position: absolute;
  top: -26px;
  font-size: .8rem;
}

select:disabled {
  color: rgba(0, 0, 0, 0.42);
}

.select-wrapper.disabled~label {
  color: rgba(0, 0, 0, 0.42);
}

.select-wrapper.disabled .caret {
  fill: rgba(0, 0, 0, 0.42);
}

.select-wrapper input.select-dropdown:disabled {
  color: rgba(0, 0, 0, 0.42);
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-wrapper i {
  color: rgba(0, 0, 0, 0.3);
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

body.keyboard-focused .select-dropdown.dropdown-content li:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.select-dropdown.dropdown-content li:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.select-dropdown.dropdown-content li.selected {
  background-color: rgba(0, 0, 0, 0.03);
}

.prefix~.select-wrapper {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.prefix~label {
  margin-left: 3rem;
}

.select-dropdown li img {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
  float: right;
}

.select-dropdown li.optgroup {
  border-top: 1px solid #eee;
}

.select-dropdown li.optgroup.selected>span {
  color: rgba(0, 0, 0, 0.7);
}

.select-dropdown li.optgroup>span {
  color: rgba(0, 0, 0, 0.4);
}

.select-dropdown li.optgroup~li.optgroup-option {
  padding-left: 1rem;
}

.file-field {
  position: relative;
}

.file-field .file-path-wrapper {
  overflow: hidden;
  padding-left: 10px;
}

.file-field input.file-path {
  width: 100%;
}

.file-field .btn,
.file-field .btn-large,
.file-field .btn-small {
  float: left;
  height: 3rem;
  line-height: 3rem;
}

.file-field span {
  cursor: pointer;
}

.file-field .form input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-field .form input[type=file]::-webkit-file-upload-button {
  display: none;
}

.range-field {
  position: relative;
}

.form input[type=range],
.form input[type=range]+.thumb {
  cursor: pointer;
}

.form input[type=range] {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin: 15px 0;
  padding: 0;
}

.form input[type=range]:focus {
  outline: none;
}

.form input[type=range]+.thumb {
  position: absolute;
  top: 10px;
  left: 0;
  border: none;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: $main-green;

  margin-left: 7px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form input[type=range]+.thumb .value {
  display: block;
  width: 30px;
  text-align: center;
  color: $main-green;

  font-size: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form input[type=range]+.thumb.active {
  border-radius: 50% 50% 50% 0;
}

.form input[type=range]+.thumb.active .value {
  color: #fff;
  margin-left: -1px;
  margin-top: 8px;
  font-size: 10px;
}

.form input[type=range] {
  -webkit-appearance: none;
}

.form input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

.form input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $main-green;

  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  -webkit-appearance: none;
  background-color: $main-green;

  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin: -5px 0 0;
}

.keyboard-focused .form input[type=range]:focus:not(.active)::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

.form input[type=range] {
  border: 1px solid white;
}

.form input[type=range]::-moz-range-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

.form input[type=range]::-moz-focus-inner {
  border: 0;
}

.form input[type=range]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $main-green;

  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  margin-top: -5px;
}

.form input[type=range]:-moz-focusring {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.keyboard-focused .form input[type=range]:focus:not(.active)::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

.form input[type=range]::-ms-track {
  height: 3px;
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

.form input[type=range]::-ms-fill-lower {
  background: #777;
}

.form input[type=range]::-ms-fill-upper {
  background: #ddd;
}

.form input[type=range]::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: $main-green;

  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.keyboard-focused .form input[type=range]:focus:not(.active)::-ms-thumb {
  box-shadow: 0 0 0 10px rgba(38, 166, 154, 0.26);
}

/* date bicker*/
.input-field .inner-icon {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
  right: 1rem;
  z-index: 6;
}

.input-field span svg {
  height: 16px;
  width: 16px;
  fill: $main-green;


}

.datepicker~.picker select {
  box-sizing: border-box;
  /* padding: 0; */
  color: $main-green;

  font-weight: 400;
  border: 1px solid #bcbcbc;
  box-shadow: none;
  outline: none;
  background-color: #fff;
}

.datepicker~label {
  padding-right: 3.125rem;
}

@media (min-width: 1248px) {
  .datepicker~label {
    padding-right: 3.75rem;
  }
}

.input-field label.floating-label {
  top: -1rem !important;
  font-size: .75rem !important;
  color: #848789 !important;
}

.input-field .inner-icon svg {
  stroke: #353738;
}

.input-field .inner-icon svg * {
  stroke: #353738;
}

.input-field .picker {
  z-index: 8;
  width: 100%;
}

.input-field .picker~label {
  top: -7px;
}

.input-field .picker__input~label {
  top: 0;
}

.input-field .picker.picker--opened~label {
  color: $main-green;

}

.input-field .picker~.inner-icon {
  z-index: 0;
}

.input-field .picker--opened~.inner-icon {
  z-index: 5;
}

.input-field .picker .picker__footer {
  display: none;
}

.input-field .picker .picker__holder {
  background: #fff;
  border-top: none;
  min-width: 464px;
  position: absolute;
}

.input-field .picker .picker__holder .picker__wrap .picker__header {
  min-height: 50px;
  margin-top: .25em;
  border-bottom: solid 1px #f1f1eb;
}

.input-field .picker .picker__holder .picker__wrap .picker__header .picker__nav--next:hover {
  cursor: pointer;
  color: #000;
  background: none;
}

.input-field .picker .picker__holder .picker__wrap .picker__header .picker__nav--next:before {
  background: none;
  border: 0;
}

.input-field .picker .picker__holder .picker__wrap .picker__header .picker__nav--prev:hover {
  cursor: pointer;
  color: #242424;
  background: none;
}

.input-field .picker .picker__holder .picker__wrap .picker__header .picker__nav--prev:before {
  background: none;
  border: 0;
}

.input-field .picker .picker__holder .picker__wrap .picker__header select {
  float: right;
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: url('../../assets/img/buy-get/icons-png/icon-outline-dropdown-down-darkgray.png') no-repeat;
  border-color: transparent;
  background-color: transparent;
  background-position: right center !important;
  -webkit-background-size: 16px 16px;
  background-size: 16px;
  border-bottom: solid 1px #353738;
  line-height: 1;
  border-radius: 0;
  outline: 0;
}

.input-field .picker .picker__holder .picker__wrap .picker__header select:after {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 0;
  border-width: 0;
}

.input-field .picker .picker__holder .picker__day {
  padding: .4em 0;
  font-weight: 400;
}

.input-field .picker .picker__holder .picker__day:hover {
  color: #353738;
  background: $sand-white-50
}

.input-field .picker .picker__holder .picker__weekday {
  font-family: Lato, Roboto, Arial, sans-serif;
  color: #353738;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.input-field .picker .picker__holder .picker__day--highlighted:before {
  display: none;
}

.input-field .picker .picker__holder .picker__day--highlighted:hover {
  background: $main-green;

  color: #fff;
  border-color: $main-green;

}

.input-field .picker .picker__holder .picker__day--disabled {
  background: $sand-white-50
  color: #353738;
  border-color: #fff;
  cursor: not-allowed;
}

.input-field .picker .picker__holder .picker__day--disabled:hover {
  background: $sand-white-50
  color: #353738;
  border-color: #fff;
}

.input-field .picker .picker__header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.input-field .picker .picker__header .picker__select--month,
.input-field .picker .picker__header .picker__select--year {
  margin: 0 10px !important;
  font-size: 14px;
}

.input-field .picker .picker__header .picker__select--month option,
.input-field .picker .picker__header .picker__select--year option {
  max-height: 200px;
  overflow: auto;
}

.input-field .picker .picker__header .picker__select--year {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.input-field .picker .picker__header .picker__nav--next,
.input-field .picker .picker__header .picker__nav--prev {
  width: 14px;
  height: 14px;
  display: block;
  margin: 0 auto;
  border: solid #353738;
  border-width: 0 1px 1px 0;
  content: "";
  position: absolute;
  line-height: 1;
  top: 50%;
  padding: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.input-field .picker .picker__header .picker__nav--prev {
  -webkit-transform: translateY(-50%) rotate(135deg);
  -o-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
  left: 0;
}

.input-field .picker .picker__header .picker__nav--next {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  right: 0;
}

.form .floating-label-input label,
.form-inline .floating-label-input label,
.form .floating-label-select label,
.form-inline .floating-label-select label {
  position: absolute;
}

// test
/* range input */

.rzslider .rz-bar-wrapper {
  left: 0;
  z-index: 1;
  width: 100%;
  height: 32px;
  padding-top: 16px;
  margin-top: -16px;
  box-sizing: border-box;
}

.rzslider .rz-bar {
  left: 0;
  z-index: 1;
  width: 100%;
  border-radius: 4px;
  height: 7px;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #F9F9F9;
}

.rzslider .rz-selection {
  z-index: 2;
  background-color: $main-green;

  border-radius: 4px;
  visibility: visible;
}

.rzslider .rz-pointer {
  top: -10px;
  z-index: 3;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 16px;
  outline: none;
}

.rzslider .rz-pointer:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: $main-green;

  border-radius: 16px;
  content: '';
}

.rzslider .rz-pointer:hover:after {
  background-color: $main-green;

}

.rzslider .rz-pointer.rz-active {
  z-index: 4;
}

.rzslider .rz-pointer.rz-active:after {
  background-color: $main-green;

}

.rzslider .rz-restricted {
  z-index: 3;
  background: #F9F9F9;
  border-radius: 4px;
}

/*
* Google Places Autocomplete
*/
// Places Autocomplete
#pac-input {
  text-overflow: ellipsis;
  box-shadow: 0 1px 4px 0 rgba(166, 166, 166, 0.5);
}

// Places Autocomplete results
// ms
//@media (max-width: $screen-ms-max) {
.pac-container {
  margin-top: 0;
  border-radius: 0 0 4px 4px;
  border: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

  >.pac-item {
    padding: 6px 0;
    height: 48px;
    line-height: 2.5 !important;
    opacity: .8;
    color: $dark-gray;
    font-size: 14px;
    font-family: Neotech, Roboto, Arial, sans-serif;
    text-transform: capitalize;
    margin: 0 32px;
    border-top: 1px solid rgba(151, 151, 151, 0.2);

    .pac-icon {
      margin: 0 !important;
      display: none;
    }

    span {
      font-size: .875rem;
    }

    .pac-item-query {
      color: $almost-black;
    }

    .pac-item-query+span {
      margin-left: 3.2rem;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0 !important;
      display: none;
    }

  }

  &.pac-logo {
    &:after {
      margin: 0 !important;
      display: none;
    }
  }
}