<section class="award-recognition">
    <div class="container">
        <div class="row no-gutters ">
            <div class="col-lg-6 align-self-center">
                {{> media top-title="growth" title="Middle East’s Most Valuable Telecoms Brand Portfolio in 2017"
                toptitle="true" briefState="true"
                brief="Etisalat's stable of brands has been named the most valuable
                of any telecoms brand portfolio in the Middle East, as measured by London-based brand valuation and
                strategy consultancy, Brand Finance." content="true" link="true" linkTxt="learn more" }}
            </div>
            <div class="col-lg-6">
                {{> media img="assets/img/images/home/Middle-Easts-Most-Valuable.jpg" image="true" }}
            </div>
        </div>
    </div>
</section>