<!-- Start questions Html -->
<section class="questions section-padding-100 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="title">For questions about investor relations or the share registry, please contact our
                    team.</div>
                <p class="lead"> Note: Investor Relations contacts will entertain investor inquiries only.</p>
            </div>
            <div class="col-sm-5 offset-sm-1">
                <p class="second-title"> etisalat investor relations </p>
                <ul class="normal-list">
                    <li>
                        Etisalat Head Office
                    </li>
                    <li>
                        PO Box 3838
                    </li>
                    <li>
                        +971 2 618 4949
                    </li>
                </ul>
                <a class="link lead" href="#">
                    ir@etisalat.ae
                </a>
            </div>
        </div><!-- / .row -->
        <div class="row">
            <div class="col-sm-5">
                <div class="title">For all queries on dividends, dividend payout issues and share certificates,
                    contact:</div>
            </div>
            <div class="col-sm-5 offset-sm-1">
                <p class="second-title"> shareholders contact</p>
                <ul class="normal-list">
                    <li>
                        Engy Zaki
                    </li>
                    <li>
                        +971 2 618 2661
                    </li>
                </ul>
                <a class="link lead" href="#">
                    shares@etisalat.ae
                </a>
            </div>
        </div><!-- / .row -->
    </div><!-- / .container -->
</section>
<!-- End questions Html -->