{{#if companyProfile }}
<!-- company-profile Html -->
<section class="company-profile section-padding-80 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="title-wrapper">
                    <h2 class="section-title"> Company Profile </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 big-desc">
                <p class="text">
                    Etisalat is an international, blue-chip organisation with operations in 15 countries across the
                    Middle East, Africa and Asia. It is one of the leading telecom operator with one of the largest
                    market capitalization among Middle East, African and Asian telcos. It is a highly rated telecom
                    company with ratings from Moody’s, Standard & Poors and Fitch (Aa3/AA-/A+); with low leverage and
                    strong UAE Government support.

                </p>
                <p class="text">
                    Etisalat’s focus is on delivering innovative solutions to transform the communities in which it
                    operates and fast track social development and economic growth. This is underpinned by its
                    commitment to actively develop and engineer platforms for growth within the local markets in which
                    it operates through the deployment of advanced technologies, quality networks and customer focused
                    services.

                </p>
                <p class="text">
                    Etisalat became one of the world’s fastest growing telecom operators; with customer numbers growing
                    from 4 million to over 140 million in less than 10 years. Its international acquisition programme
                    began in earnest in 2004 through the award of the second mobile license, and the first 3G license
                    in Saudi Arabia. Since then the company has witnessed rapid expansion, across the Middle East,
                    Africa and Asia through acquisitions and organic growth. Etisalat now has access to a population of
                    close to 700 million people.

                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 ">
                <h6 class="div-title">
                    Well positioned Portfolio
                </h6>
                <p class="text">
                    owning and managing an attractive well balanced portfolio of assets consisting of controlling
                    stakes in well positioned operators in target markets.
                </p>
            </div>

            <div class="col-lg-4 ">
                <h6 class="div-title">
                    Innovative Services
                </h6>
                <p class="text">
                    Providing differentiated, innovative service offerings that leverage our broadband infrastructure
                    and networks.
                </p>
            </div>

            <div class="col-lg-4 ">
                <h6 class="div-title">
                    Customer Experience
                </h6>
                <p class="text">
                    We aim to pro-actively and consistently serve our customers with a common set of brand values based
                    on in-depth customer understanding and building trusted relationships.
                </p>
            </div>
        </div>
    </div><!-- / .container -->
</section>
<!-- End company-profile Html -->
{{/ if}}

{{#if preFooter }}
<!-- company-profile Html -->
<section class="company-profile section-padding-80 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ">
                <h6 class="div-title">
                    Stock exchange <br> releases
                </h6>
                <p class="text">
                    Browse through our financial performance releases and background information about the company .
                </p>
            </div>

            <div class="col-lg-3 ">
                <h6 class="div-title">
                    Financial reports and <br> presentations
                </h6>
                <p class="text">
                    Find all that you need to know about the company’s financials in one place.
                </p>
            </div>

            <div class="col-lg-3 ">
                <h6 class="div-title">
                    Media <br> announcements
                </h6>
                <p class="text">
                    For all media releases of company appointments, events, perfromances and awards.
                </p>
            </div>

            <div class="col-lg-3 ">
                <h6 class="div-title">
                    Events <br> calendar
                </h6>
                <p class="text">
                    Always stay updated with financial infromation. Subscribe to receive notifications.
                </p>
            </div>
        </div>
    </div><!-- / .container -->
</section>
<!-- End company-profile Html -->
{{/if }}