<section class="annual-meetings bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="card-wapper">
                    <h2 class="section-title">Annual General Meeting 2018</h2>
                    {{> meet title="Notice" download="true" view="" }}
                    {{> meet title="Total Proxy votes and poll results" download="true" view="" }}
                    {{> meet title="Report (English)" download="true" view="true" }}
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-wapper">
                    <h2 class="section-title">Third Quarter Update 2018</h2>
                    {{> meet title="Press release" download="true" view="" }}
                    {{> meet title="Analyst presentation" download="true" view="true" }}
                    {{> meet title="Report (English)" download="true" view="true" }}
                </div>
            </div>
        </div>
    </div>
</section>