<div class="meet d-flex justify-content-between">
    <div class="title">{{ title }} </div>
    <div class="actions">
        {{#if view}}
        <a href="#" class="btn-link">
            <svg viewBox="0 0 64 64" class="btn-link-icon">
                <use xlink:href="#icon-eye-green" />
            </svg> view
        </a>
        {{/if}}
        {{#if download}}
        <a href="#" class="btn-link">
            <svg viewBox="0 0 64 64" class="btn-link-icon">
                <use xlink:href="#icon-download-green" />
            </svg> download
        </a>
        {{/if}}
    </div>
</div>