{{#if no-border }}

<nav class="tab-boxes">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-mang1-tab" data-toggle="tab" href="#nav-mang1" role="tab" aria-controls="nav-mang6" aria-selected="true">Saleh Abdullah Al Abdooli</a>
        <a class="nav-item nav-link" id="nav-mang2-tab" data-toggle="tab" href="#nav-mang2" role="tab" aria-controls="nav-mang2" aria-selected="false">Hatem Dowidar</a>
        <a class="nav-item nav-link" id="nav-mang3-tab" data-toggle="tab" href="#nav-mang3" role="tab" aria-controls="nav-mang3" aria-selected="false">Serkan Okandan</a>
        <a class="nav-item nav-link" id="nav-mang4-tab" data-toggle="tab" href="#nav-mang4" role="tab" aria-controls="nav-mang4" aria-selected="false">Khalifa Al Shamsi</a>
        <a class="nav-item nav-link" id="nav-mang5-tab" data-toggle="tab" href="#nav-mang5" role="tab" aria-controls="nav-mang5" aria-selected="false">Younis Abdul Aziz Al Nimr</a>
        <a class="nav-item nav-link" id="nav-mang6-tab" data-toggle="tab" href="#nav-mang6" role="tab"  aria-controls="nav-mang6" aria-selected="false">Abdeslam Ahizoune</a>
    </div>
</nav>
{{/if}}

{{#if with-border}}
<nav class="tab-boxes-with-border">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Home</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">Profile</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">Contact</a>
    </div>
</nav>
{{/if}}