<div class="header-bottom">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="home.html">
                <svg>
                    <use xlink:href="#etisalat-logo-img" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#etisalatmenu"
                aria-controls="etisalatmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="etisalatmenu">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="our-impact" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            who we are
                        </a>
                        <div class="dropdown-menu" aria-labelledby="our-impact">
                            <a class="dropdown-item" href="01-atglance.html">At a Glance</a>
                            <a class="dropdown-item" href="02-ourleadership.html">our Leadership</a>
                            <a class="dropdown-item" href="#">our strategy</a>
                            <a class="dropdown-item" href="#">our journy</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="our-impact" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            our impact
                        </a>
                        <div class="dropdown-menu" aria-labelledby="our-impact">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="investors" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            investors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="investors">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="governance" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            governance
                        </a>
                        <div class="dropdown-menu" aria-labelledby="governance">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="investors" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            investors
                        </a>
                        <div class="dropdown-menu" aria-labelledby="investors">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="new" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            news
                        </a>
                        <div class="dropdown-menu" aria-labelledby="new">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link mr-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            downloads
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>