<section class="milestones bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="title-wrapper">
                    <h2 class="section-title"> Recent milestones </h2>
                    <p class="section-sub-title">
                        <a href="#" class="btn-link forward">
                            view our journey
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-gutters media-wrapper media-left">
            <div class="col-lg-4 offset-lg-1">
                {{> media img="assets/img/images/home/Etihad-Etisalat-Mobility.jpg" image="true" }}
            </div>
            <div class="col-lg-6 media-content">
                {{> media top-title="growth" toptitle="true" title="Etihad Etisalat - Mobility" brief="Etisalat wins the second
                license to operate in Saudi Arabia thereby introducing Etihad Etisalat – Mobily. It also buys a stake
                in Canar, a new fixed line operator in Sudan." content="true" briefState="true" }}
            </div>
        </div>
        <div class="row no-gutters media-wrapper media-left">
            <div class="col-lg-4 offset-lg-1">
                {{> media img="assets/img/images/home/4G-LTE-release.jpg" image="true" }}
            </div>
            <div class="col-lg-6 media-content">
                {{> media top-title="technology" toptitle="true" title="4G (LTE) release" brief="Etisalat introduces the first
                real 4G (LTE) experience to its customers in the UAE." content="true" briefState="true" }}
            </div>
        </div>
    </div>
</section>

