---
title: Module Library - Etisalat Frontend Framework
fabricator: true
lang: en
direction: ltr
consumer: true
business: false
---
<h1>Etisalat Styleguide &amp; Module Library</h1>
<p>
  <!--<small>Version {{build.version}}</small>-->
</p>

<p class="lead">This UI toolkit is a highly-modular design system for rapid web page development. It contains different
  materials that can be assembled into more complex page layouts.</p>

<p class="lead">This guide contains real working examples, code snippets, documentation, and style guidelines.</p>


<!-- {{> navigation-matrix}} -->
