<div class="top-nav">
    <div class="container">
        <div class="row align-items-center">
            <div class="offset-md-6 col-md-6">
                <ul class="top-nav-list">
                    <li>
                        <a href="#">
                            financial calendar
                            <svg viewBox="0 0 64 64">
                                <use xlink:href="#icon-calendar-empty" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            careers
                            <svg viewBox="0 0 64 64">
                                <use xlink:href="#icon-business-bag-black" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            etisalat apps
                            <svg viewBox="0 0 64 64">
                                <use xlink:href="#icon-apps-black" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- top-nav end -->