<div class="hero-box">
    <div class="box-wrapper">
        <div class="image">
            <img src="assets/img/hero/hero1.jpg" alt="">
        </div>
        <div class="caption">
            <div class="container">
                <h1>Driving the digital future to <br> empower societies</h1>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>