<!-- hero-slider -->
<section class="hero-slider">
    <div class="container-fluid p-0">
        <ul class="hero-slider-wrapper owl-carousel owl-theme slide-nav">
            <li>
                <div class="slider-wrapper">
                    <div class="image">
                        <img src="assets/img/images/home/hero.jpg" alt="">
                    </div>
                    <div class="slider-caption">
                        <div class="container">
                            <h1>Etisalat Annual <br> Shareholder Meeting</h1>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a class="btn btn-primary" href="#" role="button">view agenda </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-overlay"></div>
                </div>
            </li>
            <li>
                <div class="slider-wrapper">
                    <div class="image">
                        <img src="assets/img/images/home/hero_2.jpg" alt="">
                    </div>
                    <div class="slider-caption">
                        <div class="container">
                            <h1>Etisalat Annual <br> Shareholder Meeting</h1>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a class="btn btn-primary" href="#" role="button">view agenda </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-overlay"></div>
                </div>
            </li>
            <li>
                <div class="slider-wrapper">
                    <div class="image">
                        <img src="assets/img/images/home/hero.jpg" alt="">
                    </div>
                    <div class="slider-caption">
                        <div class="container">
                            <h1>Etisalat Annual <br> Shareholder Meeting</h1>
                            <div class="row">
                                <div class="col-sm-3">
                                    <a class="btn btn-primary" href="#" role="button">view agenda </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-overlay"></div>
                </div>
            </li>
        </ul>
    </div>
</section>


<script>
    (function () {
        require(["jquery", "app.core.min"], function ($, app) {
            app();
            $('.hero-slider-wrapper').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                animateOut: 'fadeOut',
                animateIn: 'fadeIn',
                active: true,
                // smartSpeed: 1000,
                autoplay: true,
                autoplayHoverPause: true,
                navText: ['<span class="arrow left"></span>',
                    '<span class="arrow right"></span>'
                ],
                dots: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1200: {
                        items: 1
                    }
                }
            });
        });
    })();
</script>