<div class="hero-box">
    <div class="hero-box-wrapper">
        <div class="image">
            <img src="{{img}}" alt="">
        </div>
        <div class="img-caption">
            <div class="container">
                <h1> {{ txt1 }} <br> {{ txt2 }}</h1>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</div>