/*** 

====================================================================
media 
====================================================================

***/

.media-wrapper {
    margin-bottom: 4rem;

    .arrow {
        &.left {
            left: -3rem;
        }

        &.right {
            right: -3rem;
        }
    }

    &.media-left {
        .media-image {
            img {

                border-radius: 8px 0px 0px 8px;
            }
        }

        .media-content {
            border-radius: 0 8px 8px 0;
        }
    }

    .media-image {
        img {
            min-width: 100%;
            min-height: 100%;
            border-radius: 8px 0px 0px 8px;
        }
    }

    .media-content {
        background-color: $white;
        box-shadow: 0 2px 6px 0 rgba($black, 0.1);
        padding: 3rem;
    }

    .media-center {
        border-radius: 8px;
        // background-color: #FFFFFF;
        // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        margin: 0 4px;
        padding-bottom: .75rem;

        .single-img {
            position: relative;
            overflow: hidden;
            border-radius: 8px 8px 0px 0;

            img {
                transition: all 0.3s ease-in-out;
                border-radius: 0;
            }

            &:hover {
                img {
                    transform: scale(1.25);
                }
            }
        }

        .media-content {
            padding: 1.5rem;
            height: 226px;

            .title {
                font-size: 1.75rem;
                margin-bottom: 1rem;
            }

            .brief {
                font-size: .875rem;
                margin: 0;
            }
        }
    }
}


/*** 

====================================================================
related-pages  
====================================================================

***/
.related-pages {
    .media-wrapper {
        .media-center {
            .media-content {
                height: auto;
            }
        }
    }
}