/*** 

====================================================================
title css 
====================================================================

 ***/
.title-wrapper {
    margin-bottom: ($spacer * 4);

    .section-title {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }

    .section-sub-title {
        text-transform: uppercase;
        margin-top: ($spacer * 1.5);
    }
}


.second-title {
    color: $almost-black;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: uppercase;
}


.div-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}