.tab-boxes {
    margin: 0 .5rem
}

.tab-boxes {
    .nav-tabs {
        border: 0;

        .nav-link {
            color: $almost-black;
            font-size: 1.5rem;
            line-height: 1.5rem;
            border: 0;
            margin: 0;
            margin-bottom: 2rem;

            &.active {
                font-weight: 900;
                color: $main-green;
            }
        }
    }
}


.nav-tabs {
    display:none;
}

@media(min-width:769px) {
    .nav-tabs {
        display: flex;
    }

    .card {
        border: none;
    }

    .card > a {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:768px){
    .tab-pane {
        display: block !important;
        opacity: 1;
    }
}