$next: 12px;

.top-nav {
  background-color: $sand-white-50;

  .top-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    li {
      position: relative;

      a {
        color: $gray-fill;
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: 1px;
        display: block;
        padding: 10px 16px;
        font-family: 'Lato-Regular';

        &.active,
        &:hover {
          background: rgba(86, 122, 106, .4);
          color: $premium;
          transition: all .3s ease-in-out;
          transition: .3s;
        }

        svg {
          margin-left: .5rem;
        }
      }
    }
  }
}

.header-bottom {
  background-color: $white;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .15);

  .navbar {
    padding: 0;

    .navbar-brand {
      margin-right: 4rem;

      svg {
        width: 150px;
        height: 64px;
        vertical-align: middle;
      }
    }

    .navbar-nav {
      .nav-link {
        padding: 2.188rem 1rem;
        color: $gray-fill;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: center;
        text-transform: uppercase;

        &:focus,
        &:hover {
          color: $main-green;
        }
      }

      .active {
        .nav-link {
          color: $main-green;
        }
      }

      .dropdown {
        @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
        }

        .dropdown-menu {
          border: 0;
          border-top: 2px solid $main-green;
          border-radius: 0 0 4px 4px;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          padding: 0;
          min-width: 15rem;
          margin: 0;

          &.show {
            .nav-link {
              color: $main-green;
            }
          }

          .dropdown-item {
            padding: .688rem 1.5rem;
            border-bottom: 1px solid $sand-white;
            font-size: .875rem;
            text-transform: uppercase;

            &.active,
            &:focus,
            &:hover {
              color: $main-green;
              background-color: $white;
            }
          }
        }
      }
      @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        .nav-link {
          padding-right: $spacer / 4;
          padding-left: $spacer / 4;
          margin-right: 26px;
        }
      }
    }
  }
}

