.hero-slider {
	height: 580px;

	.slider-wrapper {
		position: relative;
	}

	.slider-caption {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		z-index: 5;

		h1 {
			position: relative;
			color: $white;
			font-size: 54px;
			font-weight: 100;
			margin-bottom: 2.25rem;
			line-height: 64px;
		}

		.inner-box {

			margin: 0 auto;
			padding: 0 30px;
		}
	}

	.slide-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		// background-color: rgba(0, 0, 0, 0.50);
		background: linear-gradient(270deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.6) 100%);
		z-index: 3;
	}

	.image {
		position: relative;
		overflow: hidden;
		height: 580px;

		img {
			width: 100%;
			max-width: none;
			height: 100%;
		}
	}
}

/*** 

====================================================================
slide-nav
====================================================================

***/

.slide-nav {
	.owl-nav {
		padding: 0px;
		top: 70%;
		// -webkit-transform: translateY(-50%) scale(0.97);
		// -ms-transform: translateY(-50%) scale(0.97);
		// transform: translateY(-50%) scale(0.97);
		position: absolute;
		left: 0;
		right: 0;
		opacity: 0;
		-webkit-transition: .5s ease;
		-o-transition: .5s ease;
		transition: .5s ease;

		.owl-next,
		.owl-prev {
			position: relative;
			text-align: center;
			color: $white;
			transition: all .3s ease;
			-webkit-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			height: 48px;
			width: 48px;
			// opacity: 0.2;
			border-radius: 24px;
			background-color: rgba($white, .2);

			.arrow {
				border: solid $white;
				border-width: 0 1px 1px 0;
			}
		}

		.owl-prev {
			left: 45px;
			float: left;
		}

		.owl-next {
			right: 45px;
			float: right;
		}
	}

	&:hover {
		.owl-nav {
			transform: translateY(-50%);
			top: 50%;
			opacity: 1;
		}
	}

	.carousel-outer:hover {
		.owl-nav {

			.owl-next,
			.owl-prev {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/*** 

====================================================================
hero-box
====================================================================

***/

.hero-box {
	height: 450px;

	.hero-box-wrapper {
		position: relative;

		.img-caption {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			z-index: 5;

			h1 {
				position: relative;
				color: $white;
				font-size: 51px;
				line-height: 75px;
				font-weight: 100;
				margin-bottom: 2.25rem;
			}

		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			// background-color: rgba(0, 0, 0, 0.50);
			background: linear-gradient(270deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0.6) 100%);
			z-index: 3;
		}

		.image {
			position: relative;
			overflow: hidden;
			height: 450px;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
				max-width: none;
			}
		}
	}
}