.annual-meetings {
    .section-title {
        margin-bottom: ($spacer * 3)
    }

    .meet {
        border-bottom: 1px solid $hr-border-color;
        margin-bottom: ($spacer * 2.25);
        padding-bottom: ($spacer * 2.25);

        .title {
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin: 0;
        }

        &:last-child {
            border: 0;
            padding: 0;
            margin: 0
        }

        .btn-link {
            &:last-child {
                margin-left: 36px
            }
        }
    }
}