.glance-highlights {
    .glance-hl-box {
        margin-bottom: ($spacer * 4);

        &:last-child {
            margin-bottom: 0
        }

        .h4 {
            line-height: 36px;
            margin-bottom: ($spacer * 1.5)
        }
    }

    hr {
        margin: 0;
        margin-top: ($spacer * 3);
    }
}

/*** 

====================================================================
financial-highlights  
====================================================================

***/

.financial-highlights {
    &.section-green-bg-with-pattern {

        background: url('../img/pattern/pattern-illustration.svg') 100% 0 no-repeat, linear-gradient(45deg, $main-green, $almost-black);
        background-size: contain;

        .section-title {
            color: $white;
            margin: 0
        }
    }

    .title-wrapper {
        .section-sub-title {
            color: $white;
            letter-spacing: 2px;

            svg {
                width: 20px;
                height: 20px;
                margin-right: 8px;
                vertical-align: sub;
            }
        }
    }

    .financial-hl-box {

        .top-title {
            color: rgba($white, .6);
            font-size: 1rem;
            letter-spacing: 2px;
            line-height: 19px;
            text-transform: uppercase;
        }

        .number,
        .brief {
            color: $white
        }

        .number {
            font-size: 3.375rem;
            line-height: 3.375rem;
            margin-bottom: 1rem
        }

        .brief {
            line-height: 1.5rem;
            margin: 0
        }
    }
}
