/*** 

====================================================================
milestones
====================================================================

***/

.milestones {
    .media-wrapper {
        &:last-child {
            margin: 0
        }
    }
}
