.questions {
    .row {
        margin-bottom: 80px;

        &:last-child {
            margin-bottom: 0
        }
    }

    .title {
        font-size: 1.75rem;
    }

    p {
        margin: 0
    }

    .second-title {
        margin-bottom: 1.5rem
    }

    .normal-list {
        margin-bottom: 1rem
    }
}
