.company-profile {
    .title-wrapper {
        margin-bottom: 3rem;
    }

    .text {
        font-size: .875rem
    }

    .big-desc {
        margin-bottom: 80px;

        .text {
            margin-bottom: 2rem;
            font-size: 1rem;

            &:last-child {
                margin-bottom: 0
            }
        }
    }
}