.management-team {
  .media-wrapper {
    margin-bottom: 0;

    .media-center {
      .media-content {
        background-color: $sand-white-50;
        box-shadow: none;
        padding: 3rem 3rem 2.25rem;
        height: auto;

        .brief {
          font-size: 1rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
