---
notes: |
  Our primary grid for content is this 12-column grid, ranging from the smallest screen to 1680 pixels.
  The grid is based on the widescreen grid in which all gutters are 16 pixels and all columns are dividable by 12.
  The primary grid use a full-width layout by specifing the `container-fluid` css class on the outermost container, instead of the classic `container` class.

  Grid visualization.

  On all these documentation pages, using the shortcut keys `ALT + G` you can toggle the display of the overlay grid; this is usefule to check modules and elements alignment with the grid.
  (Toggle the sidebar for a better results).
---
<div class="style-guide">
   <div class="row">
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
      <div class="col-xs-1 text-center">1 column</div>
   </div>
   <div class="row">
      <div class="col-xs-3 text-center">3 columns</div>
      <div class="col-xs-3 text-center">3 columns</div>
      <div class="col-xs-3 text-center">3 columns</div>
      <div class="col-xs-3 text-center">3 columns</div>
   </div>
   <div class="row">
      <div class="col-xs-4 text-center">4 columns</div>
      <div class="col-xs-4 text-center">4 columns</div>
      <div class="col-xs-4 text-center">4 columns</div>
   </div>
   <div class="row">
      <div class="col-xs-6 text-center">6 columns</div>
      <div class="col-xs-6 text-center">6 columns</div>
   </div>
   <div class="row">
      <div class="col-xs-4 text-center">4 columns</div>
      <div class="col-xs-8 text-center">8 columns</div>
   </div>
   <div class="row">
      <div class="col-xs-8 text-center">8 columns</div>
      <div class="col-xs-4 text-center">4 columns</div>
   </div>

   <div class="row row-eq-height">
      <div class="col-xs-4">4 columns with same height</div>
      <div class="col-xs-4">4 columns with same height<br><br>This is<br>a much<br>taller<br>column<br>than the others</div>
      <div class="col-xs-4">4 columns with same height</div>
   </div>
</div>
