<div lang="ar">
  <div dir="rtl">
    <h1>نحن هنا لمساعدتك باختيار الخدمة التي تناسب إحتياجاتك</h1>
    <h2>نحن هنا لمساعدتك باختيار الخدمة التي تناسب إحتياجاتك</h2>
    <h3>نحن هنا لمساعدتك باختيار الخدمة التي تناسب إحتياجاتك</h3>
    <h4>نحن هنا لمساعدتك باختيار الخدمة التي تناسب إحتياجاتك</h4>
    <h5>نحن هنا لمساعدتك باختيار الخدمة التي تناسب إحتياجاتك</h5>

    <div class="body-big">
      <p>
        body big<br/>
        تستطيع معالجة السرطان اذا أكتشف في المراحل الأولى. ما اسمُك؟ لو سمحت، أضعت طريقي.‏‏ نظف أسنانك
        عفوًا. يعزف على البيانو بشكل جيد جداً استيقظت في السابعة هذا الصباح. لا أحب المدرسة. منزلك رائع. إنه وسيم جدا.
        لا تقلق. منزلي كبير. الشهر القمري أقصر من الشهر الشمسي.
      </p>
    </div>

    <div class="body-standard">
      <p>
        body standard<br/>
        تستطيع معالجة السرطان اذا أكتشف في المراحل الأولى. ما اسمُك؟ لو سمحت، أضعت طريقي.‏‏ نظف أسنانك
        عفوًا. يعزف على البيانو بشكل جيد جداً استيقظت في السابعة هذا الصباح. لا أحب المدرسة. منزلك رائع. إنه وسيم جدا.
        لا تقلق. منزلي كبير. الشهر القمري أقصر من الشهر الشمسي.
      </p>
    </div>

    <div class="body-small">
      <p>
        body small<br/>
        تستطيع معالجة السرطان اذا أكتشف في المراحل الأولى. ما اسمُك؟ لو سمحت، أضعت طريقي.‏‏ نظف أسنانك
        عفوًا. يعزف على البيانو بشكل جيد جداً استيقظت في السابعة هذا الصباح. لا أحب المدرسة. منزلك رائع. إنه وسيم جدا.
        لا تقلق. منزلي كبير. الشهر القمري أقصر من الشهر الشمسي.
      </p>
    </div>

    <div class="body-smallest">
      <p>
        body small<br/>
        تستطيع معالجة السرطان اذا أكتشف في المراحل الأولى. ما اسمُك؟ لو سمحت، أضعت طريقي.‏‏ نظف أسنانك
        عفوًا. يعزف على البيانو بشكل جيد جداً استيقظت في السابعة هذا الصباح. لا أحب المدرسة. منزلك رائع. إنه وسيم جدا.
        لا تقلق. منزلي كبير. الشهر القمري أقصر من الشهر الشمسي.
      </p>
    </div>

  </div>
</div>


<!-- Both versions side by side -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1>Etisalat mobile services</h1>
    <h2>Etisalat mobile services</h2>
    <h3>Etisalat mobile services</h3>
    <h4>Etisalat mobile services</h4>
    <h5>Etisalat mobile services</h5>
    <div class="body-big">Etisalat mobile services<br>1234567890</div>
    <div class="body-standard">Etisalat mobile services<br>1234567890</div>
    <div class="body-small">Etisalat mobile services<br>1234567890</div>
    <div class="body-smallest">Etisalat mobile services<br>1234567890</div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div lang="ar">
      <div dir="rtl">
        <h1>خدمات اتصالات للهواتف المتحركة</h1>
        <h2>خدمات اتصالات للهواتف المتحركة</h2>
        <h3>خدمات اتصالات للهواتف المتحركة</h3>
        <h4>خدمات اتصالات للهواتف المتحركة</h4>
        <h5>خدمات اتصالات للهواتف المتحركة</h5>
        <div class="body-big">خدمات اتصالات للهواتف المتحركة<br>1234567890</div>
        <div class="body-standard"><br>1234567890خدمات اتصالات للهواتف المتحركة</div>
        <div class="body-small"><br>1234567890خدمات اتصالات للهواتف المتحركة</div>
        <div class="body-smallest">خدمات اتصالات للهواتف المتحركة<br>1234567890</div>
      </div>
    </div>
  </div>
</div>

<!-- Mixed Content -->
<div class="row">
  <div class="col-xs-12">
    <h2>Test Mixed Content</h2>
    <p dir="rtl" class="body-big">خدمات اتصالات للهواتف المتحركة <span dir="ltr">IPHONE 6S</span></p>
  </div>
</div>
