<div class="row row-eq-height bg-main-green-filler ">
  <div class="col-xs-12 col-md-6">
    <div class="doc-padding-md text-white">
      <h2>Green - our colour</h2>
      <h5>A unique, colourful and fresh colour palette</h5>
      <p>Green is our distinctive brand colour. We love having large areas of light background with a hint of colour.
        Green usually sits on key graphical elements while white and shades of sand create the context in the web pages.
        The colour green is used in the smaller areas to give contrast and structure to the design.
        <br> However, in digital spaces we need a wider palette. We like to use our sandy colour palette to separate the
        context in the white colour area, and create layers of information and depth.</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">

    <img class="img-responsive"
         sizes="(max-width: 1900px) 100vw, 1900px"
         srcset="assets/img/tiles/green_inspiration_ponytp_c_scale,w_375.png 375w,assets/img/tiles/green_inspiration_ponytp_c_scale,w_834.png 834w,assets/img/tiles/green_inspiration_ponytp_c_scale,w_1163.png 1163w,assets/img/tiles/green_inspiration_ponytp_c_scale,w_1435.png 1435w,assets/img/tiles/green_inspiration_ponytp_c_scale,w_1675.png 1675w,assets/img/tiles/green_inspiration_ponytp_c_scale,w_1900.png 1900w"
         src="assets/img/tiles/green_inspiration_ponytp_c_scale,w_1900.png"
         alt="">
  </div>
</div>
<div class="row text-white">
  <div class="col-xs-12 col-sm-4 doc-padding-sm bg-dark-green-filler">
    <p class="text-center">
      Dark Green<br>
      #616B1E
    </p>
  </div>
  <div class="col-xs-12 col-sm-4 doc-padding-sm bg-main-green-filler">
    <p class="text-center">
      Main Green<br>
      #719E19
    </p>
  </div>
  <div class="col-xs-12 col-sm-4 doc-padding-sm bg-light-green-filler">
    <p class="text-center">
      Light Green<br>
      #BEE70D
    </p>
  </div>
</div>


<div class="row row-eq-height bg-dark-filler ">
  <div class="col-xs-12 col-md-6">
    <div class="doc-padding-md text-white">
      <h2>Dark means business</h2>
      <h5>An elegant and prestigious colour palette</h5>
      <p>For the business product line we use the colour black as a distinctive mark, and to create a premium feeling.
        Together with a family of dark sandy shades, black demonstrates that we are a professional and conventional
        company for business. It’s formal, elegant and prestigious. It’s an easily recognisable and foundational element
        of Etisalat’s business personality.</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <img class="img-responsive"
         sizes="(max-width: 1900px) 100vw, 1900px"
         srcset="assets/img/tiles/dark_inspiration_jdp2wq_c_scale,w_375.png 375w,assets/img/tiles/dark_inspiration_jdp2wq_c_scale,w_839.png 839w,assets/img/tiles/dark_inspiration_jdp2wq_c_scale,w_1164.png 1164w,assets/img/tiles/dark_inspiration_jdp2wq_c_scale,w_1437.png 1437w,assets/img/tiles/dark_inspiration_jdp2wq_c_scale,w_1680.png 1680w,assets/img/tiles/dark_inspiration_jdp2wq_c_scale,w_1900.png 1900w"
         src="assets/img/tiles/dark_inspiration_jdp2wq_c_scale,w_1900.png"
         alt="">
  </div>
</div>
<div class="row text-white">
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-dark-gray-filler">
    <p class="text-center">
      Dark Grey<br>
      #1b1b1b
    </p>
  </div>
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-dark-sand-brown-filler">
    <p class="text-center">
      Dark Sand Brown<br>
      #2b2e2c
    </p>
  </div>
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-moonlight-sand-filler">
    <p class="text-center">
      Moonlight Sand<br>
      #202321
    </p>
  </div>
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-darkest-night-filler">
    <p class="text-center">
      Darkest Night<br>
      #111111
    </p>
  </div>
</div>


<div class="row row-eq-height bg-sand-filler ">
  <div class="col-xs-12 col-md-6">
    <div class="doc-padding-md text-white">
      <h2>Sand fits all, but...</h2>
      <h5>A simple, light and harmonious palette</h5>
      <p>For our consumer profile we combine a green accent colour with shades of sand. For our business profile we
        combine a black accent colour with dark shades of sand. Sand shades convey local land colours and represent our
        local brand.
        <br>It brings a minimal and clean style to our designs. The accent colour combination with sand shades brings
        contrast to our design. The Etisalat palette is minimal, clean, contrasting and harmonious.</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <img class="img-responsive"
         sizes="(max-width: 1900px) 100vw, 1900px"
         srcset="assets/img/tiles/sand_inspiration_oojsk7_c_scale,w_375.png 375w,assets/img/tiles/sand_inspiration_oojsk7_c_scale,w_844.png 844w,assets/img/tiles/sand_inspiration_oojsk7_c_scale,w_1167.png 1167w,assets/img/tiles/sand_inspiration_oojsk7_c_scale,w_1442.png 1442w,assets/img/tiles/sand_inspiration_oojsk7_c_scale,w_1682.png 1682w,assets/img/tiles/sand_inspiration_oojsk7_c_scale,w_1900.png 1900w"
         src="assets/img/tiles/sand_inspiration_oojsk7_c_scale,w_1900.png"
         alt="">
  </div>
</div>
<div class="row text-white">
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-sand-white-filler">
    <p class="text-center text-black">
      Sand White<br>
      #edeee6
    </p>
  </div>
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-white-filler">
    <p class="text-center text-black">
      White<br>
      #ffffff
    </p>
  </div>
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-sand-white-50-filler">
    <p class="text-center text-black">
      Sand White 50&percnt;<br>
      #f6f6f2
    </p>
  </div>
  <div class="col-xs-12 col-sm-3 doc-padding-sm bg-light-sand-brown-filler">
    <p class="text-center text-black">
      Light Sand Brown<br>
      #dbdad1
    </p>
  </div>
</div>



<h2>Colors Summary</h2>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <h4 class="text-center">Consumer Colors</h4>
  </div>
  <div class="col-xs-12 col-md-4">
    <h4 class="text-center">Business Colors</h4>
  </div>
  <div class="col-xs-12 col-md-4">
    <h4 class="text-center">Sand Colors</h4>
  </div>
</div>

<div class="row">
  {{#each palette.colors}}
  <div class="col-xs-12 col-md-4">
    {{#each this}}
    <div class="color-chip-a" style="background-color: {{this}}">
      <h5>{{@key}}</h5>
      <p>{{this}}</p>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>

<div class="row">
  <div class="col-xs-12">
    <h4>Extended Palette</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <h4 class="text-center">Complementary Colors</h4>
  </div>
  <div class="col-xs-12 col-md-4">
    <h4 class="text-center">Text Colors</h4>
  </div>
</div>
<div class="row">
  {{#each palette.extended}}
  <div class="col-xs-12 col-md-4">
    {{#each this}}
    <div class="color-chip-a" style="background-color: {{this}}">
      <h5>{{@key}}</h5>
      <p>{{this}}</p>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
