<div class="row">
  <div class="col-xs-12 col-md-6">
    <form id="styleguide-form" class="form">
      <div class="form-section no-mar-bottom">

        <div class="form-group floating-label-input">
          <input name="firstName" type="text" required>
          <label>First Name*</label>
        </div>
        <div class="floating-label-group">
          <div class="form-group floating-label-input floating-label-prefix">
            <input name="prefix" type="text" required>
            <label>Prefix*</label>
          </div>
          <div class="form-group floating-label-input">
            <input name="phone" type="text" required>
            <label>Phone number*</label>
          </div>
        </div>
        <div class="form-group floating-label-select">
          <select name="companySize">
            <option selected value=""></option>
            <option value="1">Up to 5 Employees</option>
            <option value="2">5 - 10 Employees</option>
            <option value="3">3 - 100 Employees</option>
            <option value="4">More than 100 Employees fdivg sodyyv osdyg scf</option>
            <option value="5">Government</option>
          </select>
          <label>How big is your company?</label>
        </div>

        <div class="form-group floating-label-input">
          <input name="BusinessEDate" required="" type="text" class="datepicker" />
          <label>Business Est. Expire Date*</label>
          <span class="inner-icon">
            <svg class="datepicker-svg">
              <use xlink:href="#calendar" />
            </svg>
          </span>
        </div>

        <div class="">
          <button type="submit" class="btn btn-default ripple-effect">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>

<script>
  (function (require) {
    require(['jquery', 'app.core.min', 'select2.min', 'jquery.validate.min', 'app.forms.defaults.min'], function ($, app, select2, val, valdefault) {
      valdefault();
    });
  }(require))
</script>