---
notes: |
  Buttons switch automatically color styles if nested inside a container element with class `bg-dark`.
---
<div class="row bg-light-filler doc-padding-sm">
  <div class="col-xs-12 col-sm-4 text-center">
    <button type="button" class="btn btn-default ripple-effect">Primary</button>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <button type="button" class="btn btn-primary ripple-effect">Secondary</button>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <button type="button" class="btn btn-default" disabled>Disabled</button>
  </div>
</div>

<div class="row bg-light-filler doc-padding-sm ">
  <div class="col-xs-12 col-sm-4 text-center">
    <a href="#" class="btn btn-default ripple-effect">Link Primary</a>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <a href="#" class="btn btn-primary ripple-effect">Link Secondary</a>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <a href="#" class="btn btn-default" disabled>Link Disabled</a>
  </div>
</div>


<!-- Dark Background -->
<div class="row bg-dark bg-dark-filler doc-padding-sm">
  <div class="col-xs-12 col-sm-4 text-center">
    <button type="button" class="btn btn-default ripple-effect">Primary</button>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <button type="button" class="btn btn-primary ripple-effect">Secondary</button>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <button type="button" class="btn btn-default" disabled>Disabled</button>
  </div>
</div>

<div class="row bg-dark bg-dark-filler doc-padding-sm ">
  <div class="col-xs-12 col-sm-4 text-center">
    <a href="#" class="btn btn-default ripple-effect">Link Primary</a>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <a href="#" class="btn btn-primary ripple-effect">Link Secondary</a>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <a href="#" class="btn btn-default" disabled>Link Disabled</a>
  </div>
</div>

