<!-- fabricator icons -->
<svg style="display: none;">
	<symbol id="f-icon-code" viewBox="0 0 512 512">
		<path d="M377.3 121.3l-40.5 40.4 94.4 94.3-94.4 94.3 40.5 40.4L512 256zM134.7 121.3L0 256l134.7 134.7 40.5-40.4L80.8 256l94.4-94.3zM281.8 103.8zM230.183 408.16l-29.233-7.97 80.85-296.484 29.234 7.972z" />
	</symbol>
	<symbol id="f-icon-notes" viewBox="0 0 512 512">
		<path d="M443.8 0H68.2C30.6 0 0 30.5 0 68v264.2c0 16.6 8.9 29.5 25.9 37.5 15.3 7.2 33.1 8.4 40.1 8.5V512l201.6-134h176.1c37.6 0 68.2-30.3 68.2-67.8V68c.1-37.5-30.5-68-68.1-68zM114 438V330H68.2c-11.1 0-19.2-8.8-19.2-19.8V68c0-11 8.2-20 19.2-20h375.5c11.1 0 19.2 9 19.2 20v242.2c0 11-8.2 19.8-19.2 19.8H244.2L114 438z" />
	</symbol>
	<symbol id="f-icon-labels" viewBox="0 0 512 512">
		<path d="M304 280c0 13.2-10.8 24-24 24h-48c-13.2 0-24-10.8-24-24v-48c0-13.2 10.8-24 24-24h48c13.2 0 24 10.8 24 24v48zM464 280c0 13.2-10.8 24-24 24h-48c-13.2 0-24-10.8-24-24v-48c0-13.2 10.8-24 24-24h48c13.2 0 24 10.8 24 24v48zM144 280c0 13.2-10.8 24-24 24H72c-13.2 0-24-10.8-24-24v-48c0-13.2 10.8-24 24-24h48c13.2 0 24 10.8 24 24v48z" />
	</symbol>
	<symbol id="f-icon-menu" viewBox="0 0 512 512">
		<path d="M512 100c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h488c6.6 0 12 5.4 12 12v24zM512 212c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h488c6.6 0 12 5.4 12 12v24zM512 324c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h488c6.6 0 12 5.4 12 12v24zM512 436c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h488c6.6 0 12 5.4 12 12v24z" />
	</symbol>
	<symbol id="f-icon-settings" viewBox="0 0 512 512">
		<path d="M256 377.3c-67.5 0-121.6-53.9-121.6-121.3s54-121.3 121.6-121.3S377.6 188.6 377.6 256 323.5 377.3 256 377.3zm0-215.6c-52.7 0-94.6 41.8-94.6 94.3s41.9 94.3 94.6 94.3 94.6-41.8 94.6-94.3-41.9-94.3-94.6-94.3zM293.2 512h-72.9L200 450c-13.5-4-27-9.4-39.2-16.2l-59.4 29.6L50 412.3 79.7 353c-6.8-12.1-12.2-25.6-16.2-39.1L0 292.4v-72.8l62.1-20.2c4.1-13.5 9.5-26.9 16.2-39.1L48.6 101 100 49.9l59.4 29.6c12.2-6.7 25.7-12.1 39.2-16.2L220.2 0h72.9l20.3 62c13.5 4 27 9.4 39.2 16.2L412 48.5l51.3 51.2-29.7 59.3c6.8 12.1 12.2 25.6 16.2 39.1l62.1 20.2V291l-62.1 20.2c-4.1 13.5-9.5 26.9-16.2 39.1l29.7 59.3-51.3 51.2-59.4-29.6c-12.2 6.7-25.7 12.1-39.2 16.2L293.2 512zm-54.1-26.9h35.1l18.9-57.9 6.8-1.3c16.2-4 31.1-10.8 45.9-18.9l6.8-4 54 26.9 24.3-24.3-27-53.9 4.1-6.7c8.1-13.5 14.9-29.6 18.9-45.8l1.4-6.7 58.1-18.9v-35l-58.1-18.9-1.4-6.7c-4.1-16.2-10.8-31-18.9-45.8l-4.1-6.7 27-53.9-24.3-24.3-54 26.9-6.8-4c-14.8-8.2-29.7-14.9-45.9-19l-6.8-1.3L274.2 27h-35.1l-18.9 57.9-6.8 1.3c-16.2 4-31.1 10.8-45.9 18.9l-6.8 4-54-26.9-24.3 24.3 27 53.9-4.1 6.7c-8.1 13.5-14.9 29.6-18.9 45.8l-1.4 6.7-58 18.9v35l58.1 18.9 1.4 6.7c4.1 16.2 10.8 31 18.9 45.8l4.1 6.7-27 53.9 24.3 24.3 54-26.9 6.8 4c14.9 8.1 29.7 14.8 45.9 18.9l6.8 1.3 18.8 58z" />
	</symbol>
	<symbol id="calendar-fill" viewBox="0 0 24 24">
		<g id="Page-1" transform="translate(1100.000000, 798.000000)">
			<path id="Fill-1" d="M-1076.4-774h-23.2c-0.221,0-0.4-0.179-0.4-0.4V-796c0-0.221,0.179-0.4,0.4-0.4h4
	  c0.221,0,0.4,0.179,0.4,0.4s-0.179,0.4-0.4,0.4h-3.6v20.8h22.4v-20.8h-3.601c-0.221,0-0.399-0.179-0.399-0.4s0.179-0.4,0.399-0.4h4
	  c0.221,0,0.4,0.179,0.4,0.4v21.6C-1076-774.179-1076.18-774-1076.4-774L-1076.4-774z" />
			<path id="Fill-3" d="M-1095.2-794h2.4v-3.2h-2.4V-794z M-1092.4-793.2h-3.2c-0.221,0-0.4-0.179-0.4-0.4v-4
	  c0-0.221,0.179-0.4,0.4-0.4h3.2c0.221,0,0.4,0.179,0.4,0.4v4C-1092-793.379-1092.179-793.2-1092.4-793.2L-1092.4-793.2z" />
			<path id="Fill-5" d="M-1083.2-794h2.4v-3.2h-2.4V-794z M-1080.4-793.2h-3.199c-0.221,0-0.4-0.179-0.4-0.4v-4
	  c0-0.221,0.18-0.4,0.4-0.4h3.199c0.221,0,0.4,0.179,0.4,0.4v4C-1080-793.379-1080.18-793.2-1080.4-793.2L-1080.4-793.2z" />
			<path id="Fill-6" d="M-1083.6-795.6h-8.8c-0.221,0-0.4-0.179-0.4-0.4s0.179-0.4,0.4-0.4h8.8
	  c0.221,0,0.399,0.179,0.399,0.4S-1083.379-795.6-1083.6-795.6" />
			<path id="Fill-7" d="M-1076.4-790h-23.2c-0.221,0-0.4-0.179-0.4-0.4s0.179-0.4,0.4-0.4h23.2
	  c0.221,0,0.4,0.179,0.4,0.4S-1076.18-790-1076.4-790" />
			<path id="Fill-8" d="M-1094-776.018c-0.221,0-0.4-0.178-0.4-0.399v-12.105c0-0.221,0.179-0.4,0.4-0.4
	  s0.4,0.179,0.4,0.4v12.105C-1093.6-776.195-1093.779-776.018-1094-776.018" />
			<path id="Fill-9" d="M-1088.4-776.018c-0.221,0-0.4-0.178-0.4-0.399v-12.105c0-0.221,0.179-0.4,0.4-0.4
	  s0.4,0.179,0.4,0.4v12.105C-1088-776.195-1088.179-776.018-1088.4-776.018" />
			<path id="Fill-10" d="M-1082.8-776.018c-0.222,0-0.4-0.178-0.4-0.399v-12.105c0-0.221,0.179-0.4,0.4-0.4
	  c0.221,0,0.399,0.179,0.399,0.4v12.105C-1082.4-776.195-1082.579-776.018-1082.8-776.018" />
			<path id="Fill-11" d="M-1078.418-786h-19.165c-0.221,0-0.4-0.179-0.4-0.4s0.179-0.4,0.4-0.4h19.165
	  c0.221,0,0.4,0.179,0.4,0.4S-1078.197-786-1078.418-786" />
			<path id="Fill-12" d="M-1078.418-782h-19.165c-0.221,0-0.4-0.179-0.4-0.4c0-0.221,0.179-0.399,0.4-0.399h19.165
	  c0.221,0,0.4,0.179,0.4,0.399C-1078.018-782.179-1078.197-782-1078.418-782" />
			<path id="Fill-13" d="M-1078.418-778h-19.165c-0.221,0-0.4-0.179-0.4-0.4c0-0.221,0.179-0.399,0.4-0.399h19.165
	  c0.221,0,0.4,0.179,0.4,0.399C-1078.018-778.179-1078.197-778-1078.418-778" />
		</g>
	</symbol>

	<symbol id="icon-calendar-empty">
		<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
		<title>icon-calendar</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="icon-calendar" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<g id="Icon/Outline-1pt/calendar/calendar_black" stroke="#242424">
				<path d="M21.1135832,9 L43,9 M51.1089651,9 L58,9 C59.1045695,9 60,9.8954305 60,11 L60,58 C60,59.1045695 59.1045695,60 58,60 L6,60 C4.8954305,60 4,59.1045695 4,58 L4,11 C4,9.8954305 4.8954305,9 6,9 L12.8000002,9"
				 id="Rectangle"></path>
				<path d="M4.5,20 L59.5,20" id="Line"></path>
				<polygon id="Line" points="13 14 21 14 21 4 13 4"></polygon>
				<polygon id="Line" points="43 14 51 14 51 4 43 4"></polygon>
			</g>
		</g>
	</symbol>
	<symbol id="icon-calendar-empty-white">
		<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
		<title>icon-calendar</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="icon-calendar" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<g id="Icon/Outline-1pt/calendar/calendar_black" stroke="#fff">
				<path d="M21.1135832,9 L43,9 M51.1089651,9 L58,9 C59.1045695,9 60,9.8954305 60,11 L60,58 C60,59.1045695 59.1045695,60 58,60 L6,60 C4.8954305,60 4,59.1045695 4,58 L4,11 C4,9.8954305 4.8954305,9 6,9 L12.8000002,9"
				 id="Rectangle"></path>
				<path d="M4.5,20 L59.5,20" id="Line"></path>
				<polygon id="Line" points="13 14 21 14 21 4 13 4"></polygon>
				<polygon id="Line" points="43 14 51 14 51 4 43 4"></polygon>
			</g>
		</g>
	</symbol>
	<symbol id="etisalat-logo-img" viewBox="0 0 258.94284 98.06782">
		<path d="M247.17238,0c6.47273,0,11.77046,5.29557,11.77046,11.77153v74.52583c0,6.47489-5.29773,11.77046-11.77046,11.77046
			H11.76993C5.29771,98.06782,0,92.77225,0,86.29736V11.77153C0,5.29557,5.29771,0,11.76993,0H247.17238z" />
		<path fill="#CADB2A" d="M201.26443,62.86977c-0.78284,0-1.45697-0.12632-1.97466-0.39136
			c-2.49223-1.28897-4.46797-7.50813-4.42404-13.90575c0.01036-4.17364,2.6613-6.47596,6.62099-6.47596
			c2.11134,0,4.60358,0.65544,7.27643,2.03825c7.66458,3.96171,9.64127,10.1799,4.43344,13.90789
			C209.06891,60.99845,204.3046,62.86977,201.26443,62.86977 M200.29276,35.68752c-1.1293,0-2.16457,0.13776-3.0423,0.43208
			c-3.45033,1.05621-4.81442,4.27698-4.55035,8.74173c0.27551,4.48046,1.65833,9.11643,2.68225,12.48426
			c1.13026,3.42116,1.91299,5.58573,3.31567,6.30582c0.42162,0.22026,0.91942,0.31623,1.49973,0.31623
			c1.34113,0,3.14769-0.51865,5.5555-1.25648c3.34697-1.1199,7.92865-2.68439,11.73177-5.04827
			c3.80096-2.36495,5.63788-5.34249,4.50963-8.76258c-1.03632-3.38354-5.03769-7.20333-10.49612-10.02333
			C207.46274,36.79696,203.46021,35.68752,200.29276,35.68752 M186.39632,31.82178c-1.96408,2.56747-2.01634,6.78909-0.70856,12.0168
			c1.83679,7.35989,5.01685,14.80742,6.49466,19.76902c1.70117,5.09102,1.71165,7.70017,2.37639,8.03724l0.23276,0.05226
			c0.8663,0,3.06314-1.36208,7.68767-2.76678c4.91042-1.66783,12.81931-3.38878,19.8838-6.15663
			c4.98459-1.94324,8.38478-4.4032,9.36693-7.46527c-1.5833,2.13218-4.47629,3.93777-8.29916,5.42702
			c-7.07607,2.76785-14.97554,4.48987-19.88499,6.15759c-4.62549,1.40268-6.81197,2.76785-7.68756,2.76785l-0.23276-0.05429
			c-0.66689-0.33813-0.67628-2.94729-2.37639-8.03617c-1.47887-4.96577-4.65691-12.40816-6.4937-19.76913
			C185.75241,37.77696,185.55096,34.3558,186.39632,31.82178" />
		<path fill="#4F6931" d="M194.82181,26.94376c-1.49864,0-2.81787,0.19098-3.92729,0.5615
			c-2.33459,0.70546-3.78014,2.20625-4.4982,4.31652c0.81306-1.04467,1.94229-1.81489,3.43163-2.26994
			c1.10835-0.37993,2.43901-0.5584,3.9398-0.5584c5.14211,0,12.32256,2.14373,19.7252,5.97399
			c9.57779,4.94279,16.65372,11.19432,18.12117,16.15902c0.27553,0.8026,0.40184,1.56235,0.40184,2.30126
			c0,0.04285,0,0.08144,0,0.12215c-0.00214,0.60425-0.10751,1.19397-0.286,1.75857c0.87666-1.19397,1.35257-2.49224,1.36305-3.90753
			c0-0.73891-0.1367-1.51116-0.40077-2.31269c-1.47997-4.96363-8.55386-11.21623-18.13261-16.15806
			C207.14748,29.09785,199.96605,26.94376,194.82181,26.94376" />
		<path fill="#7DA830" d="M200.19466,63.97086c-0.58234,0-1.0761-0.09608-1.4977-0.3173
			c-1.4079-0.72223-2.18124-2.88466-3.31044-6.30368c-1.0312-3.3721-2.41505-8.0133-2.68224-12.48223
			c-0.26718-4.47319,1.09584-7.6897,4.5451-8.74804c0.88297-0.29432,1.91098-0.43828,3.04646-0.43828
			c3.16649,0,7.16891,1.11359,11.19852,3.19256c5.46771,2.82728,9.46181,6.64909,10.49504,10.02013
			c1.13348,3.42329-0.70439,6.40083-4.50653,8.76685c-3.79788,2.37115-8.38266,3.9304-11.72868,5.04507
			C203.34544,63.44484,201.53995,63.97086,200.19466,63.97086 M193.76881,28.99141c-1.50079,0-2.83047,0.17741-3.93884,0.56043
			c-1.49234,0.44779-2.62273,1.22111-3.42938,2.27101c-0.85379,2.53712-0.65021,5.95828,0.35481,9.97428
			c1.83893,7.36513,5.01065,14.80646,6.49156,19.77329c1.70427,5.08675,1.71689,7.69386,2.37639,8.03201l0.23906,0.05429
			c0.87036,0,3.05481-1.36101,7.6834-2.76572c4.91148-1.6657,12.81203-3.39188,19.89021-6.15556
			c3.81979-1.49342,6.71172-3.2896,8.29395-5.42916c0.40804-1.2847,0.39661-2.67691-0.11168-4.17984
			c-1.47472-4.96469-8.54443-11.21837-18.12213-16.16212C206.08923,31.1393,198.91092,28.99141,193.76881,28.99141" />
		<path fill="#FFFFFF" d="M46.63529,59.01653l-15.05173,1.54151c0.59591,4.74871,4.14329,6.52705,7.9183,6.54062h9.64864
			c1.37031,0,2.28138,0.92368,2.28138,2.2429c0,0.63866,0,1.93073,0,1.93073H39.40375c-6.70349,0-12.33827-4.36462-12.33827-13.30043
			c0-7.61671,5.32999-12.80156,12.89763-12.80156c5.43644,0,9.85117,3.31878,11.05026,8.33049
			C51.73871,56.5399,50.0992,58.62933,46.63529,59.01653 M43.85387,55.60061c1.21897-0.13562,2.11658-0.36315,2.55486-0.7994
			c0.43945-0.44041,0.3904-1.34006,0.09918-2.02467c-0.91739-2.16254-3.41378-3.74263-6.59694-3.74263
			c-4.87396,0-8.31072,3.1372-8.31072,7.9402C31.60024,56.97411,43.25068,55.67157,43.85387,55.60061z" />
		<path fill="#FFFFFF" d="M99.16074,45.18067c1.42566,0,2.45365,0.66378,2.45365,2.09361c0,1.43613-1.02799,2.10301-2.45365,2.10301
			H88.67711c-2.20101,0.1649-2.48283,2.37019-2.29912,3.73525c0.05739,0.44148,0.26611,0.81617,0.57497,1.07918
			c0.68472,0.57817,1.87548,0.78379,3.10385,0.99358l7.97986,1.40781c4.19138,0.76189,5.77563,2.89204,5.77563,6.67635
			c0,5.87791-3.62667,8.05915-9.3073,8.05915H81.25672c0,0,0.00834-1.46531,0.00834-2.09457c0-1.43197,0.96954-2.0967,2.45152-2.0967
			H94.2002c4.09113,0,5.14317-1.26076,5.13794-3.512c-0.00203-2.03408-0.56461-2.78762-3.299-3.24685l-8.07796-1.32755
			c-4.08802-0.66795-5.86433-2.81883-6.08353-5.56061c-0.32767-4.0222,1.3391-8.30966,6.85173-8.30966H99.16074" />
		<path fill="#FFFFFF" d="M128.01379,54.37746c0-4.55036-1.23148-9.20716-7.97557-9.20716h-9.46397
			c-1.48305,0-2.4558,0.66378-2.4558,2.09457c0,1.43507,0.97275,2.09884,2.4558,2.09884h8.80019
			c3.11743,0,4.14019,0.72116,4.14019,2.91598v0.66378c-0.18062,1.34315-1.69284,1.65939-2.45473,1.83893
			c-6.3194,1.48305-14.82836-0.14299-14.82836,8.95259c0,4.85505,4.1371,7.72305,9.81675,7.72305
			c0.06573,0,5.70147,0.27765,7.77947-2.5695c0,0,0,0.08453,0.01346,0.24741c0.1399,1.43079,0.82249,2.1823,2.28984,2.1823
			c0.55528,0,1.86819,0,1.86819,0L128.01379,54.37746 M123.51463,61.93988c0,4.45118-2.5027,6.04067-6.75148,6.04067
			c-3.83229,0-6.03234-1.38184-6.03234-4.44701c0-2.28672,1.94014-3.76037,4.2571-4.16733
			c2.31793-0.41541,5.84243-0.57198,8.52672-1.1836V61.93988z" />
		<path fill="#FFFFFF" d="M162.18028,54.37746c0-4.55036-1.23158-9.20716-7.97676-9.20716h-9.46291
			c-1.48198,0-2.45364,0.66378-2.45364,2.09457c0,1.43507,0.97166,2.09884,2.45364,2.09884h8.79807
			c3.11957,0,4.14648,0.72116,4.14648,2.91598v0.66378c-0.18573,1.34315-1.69701,1.65939-2.45984,1.83893
			c-6.3194,1.48305-14.82741-0.14299-14.82741,8.95259c0,4.85505,4.13815,7.72305,9.81674,7.72305
			c0.06883,0,5.70255,0.27765,7.77734-2.5695c0,0,0,0.08453,0.01463,0.24741c0.14087,1.43079,0.82344,2.1823,2.28769,2.1823
			c0.55733,0,1.87238,0,1.87238,0L162.18028,54.37746 M157.68517,61.93988c0,4.45118-2.50793,6.04067-6.7567,6.04067
			c-3.83229,0-6.02925-1.3828-6.02925-4.44701c0-2.28672,1.93919-3.76037,4.2551-4.16733
			c2.31696-0.41541,5.84348-0.57198,8.53085-1.1836V61.93988z" />
		<path fill="#FFFFFF" d="M136.92365,38.09212h-2.51735c-2.18861,0-1.98087,1.98086-1.98087,1.98086v24.28186l-0.01355,6.95817
			l4.51176,0.01144V38.09212" />
		<path fill="#FFFFFF" d="M66.10059,67.41072c-3.42318,0-4.69645-0.15443-4.69645-2.65607V49.36788h3.98265
			c1.43188,0,2.45259-0.66378,2.45259-2.09361s-1.02071-2.09361-2.45259-2.09361h-3.98265v-4.28938v-0.02095v-2.63213l-1.9162-0.00203
			c-0.38613,0.0062-0.64807,0.02501-0.93822,0.05632c-1.82226,0.19835-1.64272,1.96215-1.64272,1.96215v4.92601h-1.22314
			c-1.42566,0-2.45163,0.66378-2.45163,2.09361s1.02596,2.09361,2.45163,2.09361H56.907V62.4053v3.31578
			c0,5.51776,3.83549,5.58669,9.19359,5.58669c0.88927,0,2.66034-0.00524,2.66034-0.00524s-0.00214-1.21587-0.00214-1.79607
			C68.75879,68.22689,67.7371,67.41072,66.10059,67.41072" />
		<path fill="#FFFFFF" d="M177.46786,67.41072c-3.42532,0-4.69762-0.15443-4.69762-2.65607V49.36788h3.98062
			c1.43079,0,2.45259-0.66378,2.45259-2.09361s-1.0218-2.09361-2.45259-2.09361h-3.98062v-4.28938v-0.02095v-2.63213l-1.92026-0.00203
			c-0.38196,0.0062-0.64604,0.02501-0.93727,0.05632c-1.82011,0.19835-1.63748,1.96215-1.63748,1.96215v4.92601h-1.22729
			c-1.42567,0-2.45473,0.66378-2.45473,2.09361s1.02905,2.09361,2.45473,2.09361h1.22729V62.4053v3.31578
			c0,5.51776,3.82919,5.58669,9.19263,5.58669c0.88501,0,2.65607-0.00524,2.65607-0.00524s0-1.21587,0-1.79607
			C180.12393,68.22689,179.10011,67.41072,177.46786,67.41072" />
		<path fill="#FFFFFF" d="M77.14262,71.31824l-0.00631-26.12293l-2.51735-0.01047c-1.69594,0.02618-1.98705,1.08752-1.98705,2.00383
			c0,0.34658,0.00513,24.12957,0.00513,24.12957H77.14262" />
		<path fill="#FFFFFF" d="M74.39048,43.20815c1.09585,0,1.66771,0.03024,2.2741-0.53532
			c0.47589-0.43839,0.47803-1.22742,0.47803-2.12396c0-0.52495-0.00631-2.29805-0.00631-2.29805h-2.52985
			c-1.69701,0.02917-1.97455,1.07705-1.97455,1.98919c0,0.35278-0.0063,2.9692-0.0063,2.9692S73.9229,43.20815,74.39048,43.20815" />
	</symbol>
	<symbol id="etisalat-logo-img-rtl" viewBox="0 0 527 207">
		<!-- Generator: Sketch 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
		<title></title>
		<desc>Created with Sketch.</desc>
		<g id="Logo_horizontal_AR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="etisalatHorizontal" transform="translate(-1.000000, 0.000000)" fill-rule="nonzero">
				<path d="M502.3,0.9 L25.9,0.9 C12.1,0.9 0.9,12.1 0.9,25.9 L0.9,181.7 C0.9,195.5 12.1,206.7 25.9,206.7 L502.4,206.7 C516.2,206.7 527.4,195.5 527.4,181.7 L527.4,25.9 C527.3,12.1 516.1,0.9 502.3,0.9"
				 id="Shape" fill="#0A0203"></path>
				<g id="logomark" transform="translate(370.000000, 56.000000)">
					<path d="M3.5,10.6 C-0.7,16 -0.8,25 2,36.1 C5.9,51.8 12.7,67.6 15.8,78.1 C19.4,88.9 19.4,94.4 20.8,95.2 L21.3,95.3 C23.1,95.3 27.8,92.4 37.6,89.4 C48,85.8 64.8,82.2 79.8,76.3 C90.4,72.2 97.6,66.9 99.7,60.4 C96.3,64.9 90.2,68.8 82.1,71.9 C67.1,77.8 50.3,81.4 39.9,85 C30.1,88 25.4,90.9 23.6,90.9 L23.1,90.8 C21.7,90.1 21.7,84.5 18.1,73.7 C15,63.1 8.2,47.3 4.3,31.7 C2.1,23.3 1.7,16 3.5,10.6 M33,18.8 C30.6,18.8 28.4,19.1 26.5,19.7 C19.2,21.9 16.3,28.8 16.9,38.3 C17.5,47.8 20.4,57.6 22.6,64.8 C25,72.1 26.6,76.7 29.7,78.2 C30.6,78.7 31.6,78.9 32.9,78.9 C35.7,78.9 39.6,77.8 44.7,76.2 C51.8,73.8 61.5,70.5 69.6,65.5 C77.7,60.5 81.6,54.2 79.2,46.9 C77,39.7 68.5,31.6 56.9,25.6 C48.2,21.2 39.7,18.8 33,18.8 M35.1,76.6 C33.4,76.6 32,76.3 30.9,75.8 C25.6,73.1 21.4,59.8 21.5,46.3 C21.5,37.4 27.2,32.5 35.6,32.5 C40.1,32.5 45.4,33.9 51.1,36.8 C67.4,45.2 71.6,58.4 60.5,66.4 C51.6,72.6 41.5,76.6 35.1,76.6"
					 id="Shape" fill="#CBDB2A"></path>
					<path d="M19.1,4.6 C15.9,4.6 13.1,5 10.7,5.8 C7.5,6.8 5.1,8.4 3.4,10.6 C1.6,16 2,23.3 4.1,31.8 C8,47.4 14.7,63.3 17.9,73.8 C21.5,84.6 21.6,90.1 22.9,90.9 L23.4,91 C25.2,91 29.9,88.1 39.7,85.1 C50.1,81.6 66.9,77.9 81.9,72 C90,68.8 96.2,65 99.5,60.5 C100.4,57.8 100.3,54.8 99.3,51.6 C96.2,41 81.1,27.8 60.8,17.2 C45.3,9.2 30.1,4.6 19.1,4.6 M32.8,78.9 C31.5,78.9 30.5,78.7 29.6,78.2 C26.6,76.7 25,72.1 22.6,64.8 C20.4,57.6 17.5,47.8 16.9,38.3 C16.3,28.8 19.2,22 26.5,19.7 C28.4,19.1 30.6,18.8 33,18.8 C39.7,18.8 48.2,21.2 56.8,25.6 C68.4,31.6 76.9,39.7 79.1,46.9 C81.5,54.2 77.6,60.5 69.5,65.5 C61.4,70.5 51.7,73.9 44.6,76.2 C39.5,77.8 35.6,78.9 32.8,78.9"
					 id="Shape" fill="#7EA831"></path>
					<path d="M21.4,0.3 C18.2,0.3 15.4,0.7 13.1,1.5 C8.1,3 5,6.2 3.6,10.7 C5.3,8.5 7.7,6.8 10.9,5.9 C13.3,5.1 16.1,4.7 19.3,4.7 C30.2,4.7 45.5,9.3 61.2,17.4 C81.5,27.9 96.5,41.2 99.7,51.8 C100.3,53.5 100.5,55.1 100.5,56.7 C100.5,55.1 100.2,53.5 99.7,51.8 C96.6,41.2 81.5,28 61.2,17.4 C45.4,9.3 30.2,4.7 19.3,4.7 C16.1,4.7 13.3,5.1 10.9,5.9 C7.7,6.9 5.3,8.5 3.6,10.7 C5.3,8.5 7.7,6.8 10.9,5.9 C13.3,5.1 16.1,4.7 19.3,4.7 C30.2,4.7 45.5,9.3 61.2,17.4 C81.5,27.9 96.5,41.2 99.7,51.8 C100.3,53.5 100.5,55.1 100.5,56.7 C100.5,55.1 100.2,53.5 99.7,51.8 C96.6,41.2 81.5,28 61.2,17.4 C45.4,9.3 30.2,4.7 19.3,4.7 C16.1,4.7 13.3,5.1 10.9,5.9 C7.7,6.9 5.3,8.5 3.6,10.7 C5.3,8.5 7.7,6.8 10.9,5.9 C13.3,5.1 16.1,4.7 19.3,4.7 C30.2,4.7 45.5,9.3 61.2,17.4 C81.5,27.9 96.5,41.2 99.7,51.8 C100.3,53.5 100.5,55.1 100.5,56.7 L100.5,57 C100.5,57.3 100.5,57.5 100.5,57.8 L100.5,57.9 L100.5,58.1 L100.5,58.3 L100.5,58.5 L100.5,58.7 L100.5,58.8 L100.5,58.9 L100.5,59.1 L100.5,59.2 C100.4,59.7 100.3,60.2 100.1,60.6 C102,58.1 103,55.3 103,52.3 C103,50.7 102.7,49.1 102.2,47.4 C99.1,36.8 84,23.6 63.7,13.1 C47.6,4.8 32.3,0.3 21.4,0.3"
					 id="Shape" fill="#506931"></path>
					<path d="M19.1,4.6 C15.9,4.6 13.1,5 10.7,5.8 C7.5,6.8 5.1,8.4 3.4,10.6 C5.1,8.4 7.5,6.7 10.7,5.8 C13.1,5 15.9,4.6 19.1,4.6"
					 id="Shape" fill="#506931"></path>
				</g>
				<g id="tyoe" transform="translate(55.000000, 67.000000)" fill="#FFFFFF">
					<path d="M292.1,62.3 L292.1,10.1 C292.1,6.8 292.7,6.5 293.2,6.3 L296.8,4.7 L301.8,1.9 L301.7,2.2 C301.7,2.4 301.7,2.8 301.7,3.4 L301.7,35.6 L301.7,83.6 L292,83.6 L292,62.3"
					 id="Shape"></path>
					<path d="M228.4,72.7 L179.8,72.7 L179.9,71.9 C179.9,71.6 183,44.3 222.1,43 C224,42.9 225.6,43.5 226.7,44.7 C228.6,46.7 228.5,49.8 228.5,50 L228.5,72.7 L228.4,72.7 Z M275.7,34.5 C275.7,34.5 275.7,34.1 275.7,33.7 C275.7,33.4 275.7,33.1 275.8,33.1 L274.5,33.8 L270.8,35.8 L267.2,37.4 C266.7,37.6 266.1,37.9 266.1,40.6 L266.1,41.3 L266.1,73 L238.4,73 L238.4,44.5 C238.4,40.1 237.4,37.1 235.2,35 C233,33 229.7,32.1 225.2,32.4 C224.9,32.4 200.6,31.6 181.4,47.5 L177.8,51.6 L176.6,53.2 L175.9,51.3 C175.2,49.4 174,47.6 172.2,45.4 L171,44.1 C171,44.1 170.5,43.7 170,43.2 C170.1,44.5 170.4,47.7 170.4,52 L170.4,72.6 L154.8,72.6 L154.8,1.8 C154.8,0.6 154.7,0.3 154.9,0.2 L153.6,0.9 L149.9,2.9 L146.3,4.5 C145.8,4.7 145.1,5 145.1,8.3 L145.1,72 C145,75.6 145.1,77.3 147,79.7 C148,81 149.8,83.3 155.1,83.3 L170,83.3 L170,84.4 C169.9,89.7 167.2,98.5 167.1,98.7 C167.1,98.7 167,99 166.9,99.3 C167.8,98.8 169.1,98 170.7,96.6 C175,91.5 177,87 178,84 L178.2,83.3 L242.8,83.3 L264.9,83.3 C264.9,83.3 269.3,83.6 272,81.6 C274.9,79.4 275.9,77.7 275.9,71.9 C275.9,71.9 275.9,51.5 275.9,45.6 C275.7,44.7 275.7,34.7 275.7,34.5 Z"
					 id="Shape"></path>
					<path d="M119.3,10.5 L119.3,10.1 C119.3,6.8 119.9,6.5 120.5,6.3 L124.1,4.7 C124.1,4.7 128.6,2.2 128.9,2.1 C129,2.3 129.1,2.7 129.1,3.5 L129.1,40.3 C129.1,73.4 113.8,82.9 112.5,83.6 L97.9,83.6 C102.9,80.2 107.3,76.4 110.5,72.2 L110.8,71.9 L110.8,71.3 L93.4,32.7 C93.4,32.6 91,27.3 91,21.2 C91,17 92.2,12.5 96,9 C96,9.5 96.1,9.9 96.1,9.9 C96.4,13.5 97.4,20.1 99.9,25.2 C100,25.4 110.6,45.7 114.8,55.9 L116.1,59.7 L116.8,61.8 L117.4,59.8 L117.7,58.7 C119.1,54.2 119.4,50.8 119.4,49.2 L119.4,48.8 L119.4,48.1 L119.4,10.5 L119.3,10.5 Z"
					 id="Shape"></path>
					<path d="M71.9,72.2 L71.9,49.4 C71.9,46.1 72.6,45.8 73.1,45.6 L76.7,44 C76.7,44 81.2,41.5 81.5,41.3 C81.6,41.5 81.6,41.8 81.6,42.7 L81.6,74.5 C81.6,76.8 80.4,79.3 78.6,81 C76,83.4 73.1,83.4 71.2,83.4 C70.9,83.4 17.6,83.4 17.6,83.4 C16.7,83.4 8.5,83 3.7,74.8 C1.6,71.2 0.5,67 0.5,62.4 C0.5,59.2 1,55.7 2.1,52 C2.9,49.2 3.7,48.1 4.2,47.5 C4.2,47.8 4.3,48.1 4.3,48.5 C4.3,48.6 5.7,59.3 8.2,63.8 C12.5,73.5 25,72.9 25.1,72.8 L71.2,72.8 L71.9,72.8 L71.9,72.2 Z"
					 id="Shape"></path>
					<path d="M257.3,24.4 C259.6,24.4 260.8,24.5 262.1,23.3 C263.1,22.4 263.1,20.7 263.1,18.8 C263.1,17.7 263.1,13.9 263.1,13.9 L257.7,13.9 C254.1,13.9 253.5,16.2 253.5,18.1 L253.5,24.4 C253.6,24.4 256.3,24.4 257.3,24.4"
					 id="Shape"></path>
					<path d="M269.9,24.4 C272.2,24.4 273.5,24.5 274.7,23.3 C275.7,22.4 275.7,20.7 275.7,18.8 C275.7,17.7 275.7,13.9 275.7,13.9 L270.3,13.9 C266.7,13.9 266.1,16.2 266.1,18.1 C266.1,18.9 266.1,24.4 266.1,24.4 C266.1,24.4 268.9,24.4 269.9,24.4"
					 id="Shape"></path>
					<path d="M47.2,41.3 C49.5,41.3 50.7,41.4 52,40.2 C53,39.3 53,37.6 53,35.7 L53,30.8 L47.6,30.8 C44,30.8 43.4,33.1 43.4,35 C43.4,35.8 43.4,41.3 43.4,41.3 L47.2,41.3"
					 id="Shape"></path>
					<path d="M34.6,41.3 C36.9,41.3 38.1,41.4 39.4,40.2 C40.4,39.3 40.4,37.6 40.4,35.7 C40.4,34.6 40.4,30.8 40.4,30.8 L35,30.8 C31.4,30.8 30.8,33.1 30.8,35 C30.8,35.8 30.8,41.3 30.8,41.3 L34.6,41.3"
					 id="Shape"></path>
				</g>
			</g>
		</g>
	</symbol>

	<symbol>
		<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
		<title>icon-business-bag-black</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="icon-business-bag-black" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<g id="Icon/Outline-1pt/briefcase/briefcase_black" stroke="#242424">
				<polygon id="Line" points="4 56 60 56 60 18 4 18"></polygon>
				<path d="M21.875,13.6862745 C21.875,10.5190196 24.366875,8 27.5,8 L36.5,8 C39.633125,8 42.125,10.5190196 42.125,13.6862745"
				 id="Line"></path>
				<polyline id="Line" points="4 26.3787059 31.4042553 40.0257647 60 26"></polyline>
			</g>
		</g>
	</symbol>

	<symbol viewBox="0 0 64 64">
		<!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
		<title>Icon/Outline 1pt/etisalat_apps/etisalat_apps_black</title>
		<desc>Created with Sketch.</desc>
		<g id="icon-apps-black" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd">
			<g id="icon-app" transform="translate(7.000000, 9.000000)" stroke="#000000">
				<rect id="Rectangle-2" x="0.5" y="0.5" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="18.9210526" y="0.5" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="37.3421053" y="0.5" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="0.5" y="18.472973" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="18.9210526" y="18.472973" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="37.3421053" y="18.472973" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="0.5" y="35.1621622" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="18.9210526" y="35.1621622" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="37.3421053" y="35.1621622" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
			</g>
		</g>
	</symbol>

	<symbol viewBox="0 0 64 64">
		<!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
		<title>Icon/Outline 1pt/etisalat_apps/etisalat_apps_consumer</title>
		<desc>Created with Sketch.</desc>
		<g id="icon-apps-green" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="icon-app" transform="translate(7.000000, 9.000000)" stroke="#719E19">
				<rect id="Rectangle-2" x="0.5" y="0.5" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="18.9210526" y="0.5" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="37.3421053" y="0.5" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="0.5" y="18.472973" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="18.9210526" y="18.472973" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="37.3421053" y="18.472973" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="0.5" y="35.1621622" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="18.9210526" y="35.1621622" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
				<rect id="Rectangle-2" x="37.3421053" y="35.1621622" width="12.1578947" height="11.8378378" rx="1.0206"></rect>
			</g>
		</g>
	</symbol>

	<symbol viewBox="0 0 72 72">
		<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
		<title>icon-faqs-green-2px</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="icon-faqs-green-2px" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<g id="icon-/-2pt" transform="translate(9.000000, 9.000000)" stroke="#719E19" stroke-width="2">
				<path d="M23.4347826,43.0434783 C23.4347826,45.1567536 25.1475942,46.8695652 27.2608696,46.8695652 C29.3741449,46.8695652 31.0869565,45.1567536 31.0869565,43.0434783 C31.0869565,40.9302029 29.3741449,39.2173913 27.2608696,39.2173913 C25.1475942,39.2173913 23.4347826,40.9302029 23.4347826,43.0434783 Z"
				 id="Stroke"></path>
				<path d="M23.8587964,31.0502483 C23.8587964,27.5994846 29.300746,23.9645943 31.4538825,21.8773973 C33.2829195,20.1043743 33.0358601,17.1029825 30.7857594,15.6132311 C29.449513,14.7273634 27.6085215,14.6835851 26.23774,15.5179489 C25.0436192,16.2467295 24.3715112,17.3849665 24.2426684,18.5669819 C24.2426684,20.0657464 23.9331799,20.7494611 22.3857376,20.7494611 L19.7291842,20.7494611 C18.1843984,20.7494611 17.2120999,20.0644588 17.217413,18.5669819 C17.342271,15.5089357 18.7927491,12.490805 21.5701757,10.3945948 C25.315916,7.56960396 30.6476186,7.35843782 34.5846307,9.92848422 C40.6336027,13.8775485 41.4066598,22.0383471 36.4043698,26.6775641 C34.8423164,28.1248247 30.5001799,30.5558105 30.5001799,32.3378467 L30.5001799,33.6254451 C30.5001799,34.337487 29.7603298,34.9130435 29.027121,34.9130435 L25.042291,34.9130435 C24.3077539,34.9130435 23.8587964,34.337487 23.8587964,33.6254451 L23.8587964,31.0502483 Z"
				 id="Stroke"></path>
				<path d="M55,27.5 C55,42.6878571 42.6878571,55 27.5,55 C12.3121429,55 0,42.6878571 0,27.5 C0,12.3121429 12.3121429,0 27.5,0 C42.6878571,0 55,12.3121429 55,27.5 Z"
				 id="Stroke"></path>
			</g>
		</g>
	</symbol>

	<symbol viewBox="0 0 64 64">
		<title>Icon/Outline 1pt/download/download_black</title>
		<desc>Created with Sketch.</desc>
		<g id="icon-download-black" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<path d="M60,48.0606915 L60,53.0354034 C60,57.0101982 56.8826667,60 52.7407407,60 L11.504,60 C7.35896296,60 4,56.7753918 4,52.800597 L4,48"
			 id="Line" stroke="#242424"></path>
			<path d="M33,4 L33,48" id="Line" stroke="#242424" transform="translate(33.000000, 26.000000) scale(1, -1) translate(-33.000000, -26.000000) "></path>
			<polyline id="Line" stroke="#242424" transform="translate(32.500000, 39.500000) scale(1, -1) translate(-32.500000, -39.500000) "
			 points="15 48 33 31 50 48"></polyline>
		</g>
	</symbol>

	<symbol viewBox="0 0 64 64">
		<!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
		<title>Icon/Outline 1pt/eye show/eye_show_black</title>
		<desc>Created with Sketch.</desc>
		<g id="icon-eye-black" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<path d="M60,33 C60,33 47.4646897,48 32,48 C16.5353103,48 4,33 4,33 C4,33 16.5353103,16 32,16 C47.4646897,16 60,33 60,33 L60,33 Z"
			 id="Line" stroke="#242424"></path>
			<path d="M42,32 C42,37.523 37.523,42 32,42 C26.477,42 22,37.523 22,32 C22,26.477 26.477,22 32,22 C37.523,22 42,26.477 42,32 L42,32 Z"
			 id="Line" stroke="#242424"></path>
		</g>
	</symbol>

	<symbol viewBox="0 0 64 64">
		<!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
		<title>Icon/Outline 1pt/eye show/eye_show_black</title>
		<desc>Created with Sketch.</desc>
		<g id="icon-eye-green" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<path d="M60,33 C60,33 47.4646897,48 32,48 C16.5353103,48 4,33 4,33 C4,33 16.5353103,16 32,16 C47.4646897,16 60,33 60,33 L60,33 Z"
			 id="Line" stroke="#719E19"></path>
			<path d="M42,32 C42,37.523 37.523,42 32,42 C26.477,42 22,37.523 22,32 C22,26.477 26.477,22 32,22 C37.523,22 42,26.477 42,32 L42,32 Z"
			 id="Line" stroke="#719E19"></path>
		</g>
	</symbol>

	<symbol viewBox="0 0 64 64">
		<!-- Generator: Sketch 53 (72520) - https://sketchapp.com -->
		<title>Icon/Outline 1pt/download/download_consumer</title>
		<desc>Created with Sketch.</desc>
		<g id="icon-download-green" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<path d="M60,48.0606915 L60,53.0354034 C60,57.0101982 56.8826667,60 52.7407407,60 L11.504,60 C7.35896296,60 4,56.7753918 4,52.800597 L4,48"
			 id="Line" stroke="#719E19"></path>
			<path d="M33,4 L33,48" id="Line" stroke="#719E19" transform="translate(33.000000, 26.000000) scale(1, -1) translate(-33.000000, -26.000000) "></path>
			<polyline id="Line" stroke="#719E19" transform="translate(32.500000, 39.500000) scale(1, -1) translate(-32.500000, -39.500000) "
			 points="15 48 33 31 50 48"></polyline>
		</g>
	</symbol>

	<symbol viewBox="0 0 64 64">
		<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
		<title>icon-printer</title>
		<desc>Created with Sketch.</desc>
		<defs></defs>
		<g id="icon-printer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round"
		 stroke-linejoin="round">
			<g id="Icon/Outline-1pt/printer/printer_consumer" stroke="#719E19">
				<path d="M15.5862069,47 L7.86206897,47 L7.86206897,47 C5.73889655,47 4,45.2 4,43 L4,25 C4,22.8 5.73889655,21 7.86206897,21 L56.137931,21 C58.2611034,21 60,22.8 60,25 L60,43 C60,45.2 58.2611034,47 56.137931,47 L48.4137931,47"
				 id="Line"></path>
				<polyline id="Line" points="15 17 15 4 41 4 49 12 49 17"></polyline>
				<polygon id="Line" points="16 60 48 60 48 40 16 40"></polygon>
				<path d="M20,45 L44,45" id="Line"></path>
				<path d="M20,50 L44,50" id="Line"></path>
				<path d="M20,55 L44,55" id="Line"></path>
				<polyline id="Line" points="41 4 41 12 49 12"></polyline>
				<path d="M15,29 C15,30.657 13.657,32 12,32 C10.343,32 9,30.657 9,29 C9,27.343 10.343,26 12,26 C13.657,26 15,27.343 15,29 L15,29 Z"
				 id="Line"></path>
			</g>
		</g>
	</symbol>
</svg>
<!-- /fabricator icons -->