<!-- {{#if notes}}
<div class="f-item-notes" data-f-toggle="notes">
	{{{notes}}}
</div>
{{/if}} -->
<div class="f-item-preview">
	{{{material @key @root}}}
</div>
<!-- 
{{#if data.more}}
<div data-f-toggle="notes">
  {{{data.more}}}
</div>
{{/if}}

<div class="f-item-code f-item-hidden" data-f-toggle="code">
   <h3>Markup</h3>
	<pre><code class="language-markup">{{material @key @root}}</code></pre>
</div> -->
