<div class="f-item-group" id="{{@key}}">
	{{#if items}}
	<div class="f-item-heading-group">
		<h2 class="f-item-heading" data-f-toggle="labels">
			<a class="heading__anchor" name="__{{@key}}" href="#{{@key}}">§</a>
			{{name}}
		</h2>
	</div>
	{{#each items}}
	<div class="f-item-group" id="{{@key}}">
		<div class="f-item-heading-group" data-f-toggle="labels">
			<h3 class="f-item-heading">
				{{name}}
			</h3>
			{{> f-item-controls}}
		</div>
		{{> f-item-content this}}
	</div>
	{{/each}}
	{{else}}
	<div class="f-item-heading-group" data-f-toggle="labels">
		<h2 class="f-item-heading">
			<a class="f-item-heading__anchor" name="object-node" href="#{{@key}}">§</a>
			{{name}}
		</h2>
		{{> f-item-controls}}
	</div>
	{{> f-item-content this}}
	{{/if}}

</div>