<nav id="docs-main-menu" class="main-menu">
   <div class="navbar">
      <div class="container-fluid">
         <div class="row main-menu-main-row">
            <div class="col-sm-1">
               <!-- spacer -->
            <!-- </div>
            <div class="col-sm-2">
               <div class="navbar-header">
                  <a href="index.html">
                     <svg class="etisalat-logo-img etisalat-logo-img-ltr">
                        <use xlink:href="#etisalat-logo"/>
                     </svg>
                     <svg class="etisalat-logo-img etisalat-logo-img-rtl">
                        <use xlink:href="#etisalat-logo-ar"/>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="col-sm-7 col-md-7">
               <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-center">
                     <li><p class="navbar-text">Frontend Framework</p>
                     </li>
                     <li>
                        <a href="index.html">Home</a>
                     </li>
                  </ul>
               </div>
            </div> -->
            <!--<div class="col-sm-1 hidden-ms hidden-xs">-->
               <!--<div class="navbar-header text-right">-->
                  <!--<a href="#">-->
                     <!--<svg id="main-menu-search-img">-->
                        <!--<use xlink:href="#main-menu-search"/>-->
                     <!--</svg>-->
                  <!--</a>-->
               <!--</div>-->
            <!--</div>-->
         </div>
      </div>
   </div>
</nav>
