<div class="sidebar-header">
  <svg style="width: 150px; height: 64px; vertical-align: middle;">
    <use xlink:href="#etisalat-logo-img" />
  </svg>
</div>

<ul class="list-unstyled components">

  <li>
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
    <ul class="collapse list-unstyled" id="homeSubmenu">
      <li>
        <a href="index.html?v={{assetHash}}" class="">Home</a>
      </li>
      <li>
        <a href="changelog.html?v={{assetHash}}" class="">Changelog</a>
      </li>
      <li>
        <a href="integration.html?v={{assetHash}}" class="">Integration Guidelines</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#collapsedocuments" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Documents</a>
    <ul class="collapse list-unstyled" id="collapsedocuments">
      {{#each docs}}
      <li>
        <a href="docs.html#{{@key}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </li>

  <li>
    <a href="#">Email Templates</a>
  </li>

  <li>
    <a href="#">Catpure Lead Forms</a>
  </li>


  <li>
    <a href="#collapse-material-groups" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
    <ul class="collapse list-unstyled" id="collapse-material-groups">
      {{#each groups}}
      <li>
        <a href="components-{{@key}}.html">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </li>
</ul>

<ul class="list-unstyled components pt-0">
  <li>
    <a href="#heading-view-{{@index}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> Developer
      Pages</a>
    <ul class="collapse list-unstyled" id="heading-view-{{@index}}">
      {{#each views}}
      <li>
        <!-- <a role="button" data-toggle="collapse" href="#collapse-view-{{@index}}" aria-expanded="true" aria-controls="collapse-view-{{@index}}">
        {{name}}
      </a> -->
        <ul>
          {{#each items}}
          <li>
            <a href="{{@key}}.html">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </li>
</ul>