<nav class="navbar navbar-expand-lg navbar-light navbar-docs  " style="background-color: #f1f1eb !important;">
   <div class="container-fluid">
 
      <ul class="f-control-bar nav navbar-nav">
         <li class="active"> <a href="#" class="f-control f-menu-toggle">
               <button type="button" id="sidebarCollapse" class="navbar-btn">
                  <span></span>
                  <span></span>
                  <span></span>
               </button>
               <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify"
                     role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                     <path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
                  </svg>
               </button> -->
            </a>
         </li>
      </ul>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="f-controls nav navbar-nav ml-auto">
            <li class="active">
               <a href="#" class="f-control f-global-control nav-link" data-f-toggle-control="labels" title="Toggle Labels">
                  <svg>
                     <use xlink:href="#f-icon-labels" />
                  </svg>
                  <span>Toggle Labels</span>
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link f-control f-global-control" data-f-toggle-control="notes" title="Toggle Notes">
                  <svg>
                     <use xlink:href="#f-icon-notes" />
                  </svg>
                  <span>Toggle Notes</span>
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link f-control f-global-control" data-f-toggle-control="code" title="Toggle Code">
                  <svg>
                     <use xlink:href="#f-icon-code" />
                  </svg>
                  <span>Toggle Code</span>
               </a>
            </li>

         </ul>
      </div>
   </div>
</nav>