<div id="grid-layout" class="modal fade" tabindex="-1" role="dialog">

   <div id="grid-layout__info">
      <div class="visible-xs">Breakpoint: xs ( 375px ), Viewport width: <span class="vw"></span></div>
      <div class="visible-ms">Breakpoint: ms ( 375px ), Viewport width: <span class="vw"></span></div>
      <div class="visible-sm">Breakpoint: sm ( 768px ), Viewport width: <span class="vw"></span></div>
      <div class="visible-md">Breakpoint: md ( 992px ), Viewport width: <span class="vw"></span></div>
      <div class="visible-lg">Breakpoint: lg ( 1440px ), Viewport width: <span class="vw"></span></div>
      <div class="visible-xl">Breakpoint: xl ( 1600px ), Viewport width: <span class="vw"></span></div>
   </div>

   <div class="container-fluid">
      <div class="row">
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
         <div class="col-xs-1">
            <div class="filler"></div>
         </div>
      </div>
   </div>

</div>
