<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- DNS and resources Prefetching -->
<!--<link rel="dns-prefetch" href="fonts.googleapis.com"/>-->
<!--<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>-->

<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/favicon.ico">

<title>Etisalat Module Library - {{title}}</title>
{{#if fabricator}}
<link rel="stylesheet" href="assets/css/docs.min.css?v={{assetHash}}">
{{/if}}
<!--<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">-->
<link rel="stylesheet" href="assets/css/app.min.css?v={{assetHash}}">

<script>
  (function (window) {
    // general configuration settings
    window.appConfig = {
      scriptsPath: 'assets/js',
      apiPath: '/api/',
      maps: {
        // Local Development Google Maps API Key
        // url: 'https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyB2vhItEcIobxUsOcfTXtNHkjbfxh-M1GQ&libraries=places,geometry',

        // Etisalat Google Maps API Key
        url: 'https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDIXxJIOVzB47VNQftaBo4hidZDBi2zi6Y&libraries=places,geometry',
        center: { // Dubai Position
          lat: 25.208549,
          lng: 55.271945
        },
        range: 10,
        customMarkerBaseUrl: '/assets/img/maps/'
      },
      assetHash: 'v={{assetHash}}',
      debug: false
    };
  }(window));
</script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script data-main="assets/js/main.min" src="assets/js/require.min.js"></script>
<!--Picture Polyfill-->
