<section class="directors-board bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="title-wrapper">
                    <h2 class="section-title">Board of Directors</h2>
                </div>
            </div>
        </div>
        <p class="brief">
            The Board of Directors carries out the Corporation’s business and for that purpose, exercises all powers of
            the Corporation, except those reserved by Law or the Articles of Association for the General Assembly of
            the Corporation.
        </p>
        <a href="#" class="btn-link forward">
            find out more
        </a>
    </div>
</section>