<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  {{> head}}
</head>


<body dir="{{ direction }}">
  {{#if fabricator}}
  <div class="wrapper f-container">

    <nav id="sidebar" class="sidebar docs">
    {{> f-menu}}
    </nav>

    <div id="content" class="content">
      {{> f-top-nav}}
      {{/if}}
      <!-- We'll fill this with dummy content -->
      {% body %}
      {{#if fabricator}}
    </div>
    <!-- {{> grid-overlay}} -->

  </div>
  {{/if}}
  {{> f-icons}}
  <!-- The following script is used only for documentation pages and demo purpouse -->

  {{#if fabricator}}
  <script src="assets/js/docs.js"></script>
  {{/if}}

 
</body>

</html>