<!-- media item Start-->
<div class="item">
    <div class="media-center">
        <div class="single-img">
            {{> media img="assets/img/images/home/middle-east.jpg" image="true" }}
        </div>
        <div class="media-content">
            {{> media title="Maroc Telecom’s integration of ICT in teaching and learning"
            brief="Working alongside with the government implemented ICT initiatives across schools in
            Morocco." content="true" briefState="true" }}
        </div>

    </div>
</div>
<!-- media item End-->