{{#if image }}
<div class="media-image">
    <picture>
        <source media="(min-width: 541px)" srcset="{{img}}">
        <source media="(max-width: 541px)" srcset="{{img}}">
        <img src="{{img}}" class="img-fluid" alt="Generic placeholder image for mobility text">
    </picture>
</div>
{{/if}}

{{#if content }}
    {{#if toptitle }}
    <p class="top-title"> {{ top-title }} </p>
    {{/if}}
    <h1 class="title"> {{ title }} </h1>
    {{#if position }}
    <p class="position"> {{ positionTxt }} </p>
    {{/if}}
    {{#if briefState }}
    <p class="brief"> {{ brief }} </p>
    {{/if}}
    {{#if link }}
        <a href="#" class="btn-link forward">
            {{linkTxt}}
        </a>
    {{/if}}
{{/if}}