<section class="related-pages bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!--section header start-->
                <div class="title-wrapper">
                    <h2 class="section-title"> Related pages </h2>
                </div>
                <!--section header end-->
            </div>
        </div> <!-- / .row -->
        <!-- related-boxes boxes start-->
        <div class="related-boxes media-wrapper swiper-container m-0">
            <div class="related-List swiper-wrapper">

                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/who-we-are/Annual-General-Meeting.jpg" image="true" }}
                        </div>
                        <div class="media-content">
                            {{> media title="Annual General Meeting" content="true" briefState="false" }}
                        </div>

                    </div>
                </div>
                <!-- media swiper-slide End-->
                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/who-we-are/Reports.jpg" image="true" }}
                        </div>
                        <div class="media-content"> {{> media title="Reports" content="true" briefState="false" }}
                        </div>
                    </div>
                </div>
                <!-- media swiper-slide End-->

                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/who-we-are/Reports.jpg" image="true" }}
                        </div>
                        <div class="media-content"> {{> media title="Reports" content="true" briefState="false" }}
                        </div>
                    </div>
                </div>
                <!-- media swiper-slide End-->

                <!-- media swiper-slide Start-->
                <div class="swiper-slide">
                    <div class="media-center">
                        <div class="single-img">
                            {{> media img="assets/img/images/who-we-are/Reports.jpg" image="true" }}
                        </div>
                        <div class="media-content"> {{> media title="Reports" content="true" briefState="false" }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- media swiper-slide End-->
        </div>
        <!-- related-boxes  boxes end-->
    </div>
</section>
<style>
    .swiper-slide {
        width: 75%;
    }
</style>
<!-- Initialize Swiper -->
<script>
    (function () {
        require(["jquery", "app.core.min", 'swiper.min'], function ($, app, swiper) {
            app();
            swiper();
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 2,
                spaceBetween: 16,
                breakpoints: {

                    768: {
                        slidesPerView: 'auto',
                        spaceBetween: 20,
                    }
                }
            });
        });
    })();
</script>